body{
    margin: 0;
    background: rgb(235 233 215 / 80%);
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}

.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: -15px;

}
.mb_sb_rb_text_box{
    width: 80%;
    margin-bottom: 15px;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.mb_sb_rb_text_box button {
    cursor: pointer;
    font-size: 13px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.mb_sb_rb_text_box button:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.main_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 1150px;
}
.mc_sub_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1000px;
    margin-left: 300px;
}

.mc_sb_letter_bar{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(176, 170, 109, 0.8);   
    border: 1px solid gray; 
}
.mc_sb_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 202, 155, 1);
    border-radius: 20px;
    border: 1px solid gray;
    width: 80%;
    height: 1000px;
}
.mc_sb_letter_bar span{ 
    margin-left: 100px;
    font-size: 40px;
    color: white;
}
.mc_sb_letter_bar p{
    cursor: pointer;
    margin-right: 50px;
    font-size: 25px;
    color: white;
}

.mc_sb_catebox{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 1000px;
    overflow-y: auto;


}
.mc_sb_catebox::-webkit-scrollbar {
display: none;
}

.mb_sb_catebox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 1000px;
    overflow-y: auto;
}
.mb_sb_catebox2::-webkit-scrollbar {
    display: none;
}

#review_rank{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 764px;
    overflow-y: auto;
    flex-direction: column;
}
#review_rank::-webkit-scrollbar {
    display: none;
}
.mc_sb_reviewbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.mc_sb_rankbox{
    display: flex;
    position: relative;
    top: 10%;
    right: 5%;
    align-items: center;
    flex-direction: column;
    width: 10%;
    max-height: 20%;
    border-radius: 20px;
}
.mc_sb_rb_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 202, 155, 1);
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 100%;
    border-radius: 20px;
}

.mb_sb_cb_title p{
    font-size: 30px;    
}
.mb_sb_rb_title p{
    width: 100%;
    height: 20px;
    font-size: 30px;

}

.mb_sb_rb_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mb_sb_rb_textbox{
    width: 100%;
    height: 50px;
}

.mb_sb_cate{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mb_sb_rk_title{
    background-color: rgba(226, 202, 155, 1);
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
    height: 5%;
}
.mb_sb_rk_title span{
    font-size: 25px;
    color:rgba(80, 80, 80, 1);
}
.mb_sb_cb_item {
    cursor: pointer;
    border-radius: 20px;
    width: 80%;
    background-color: rgba(240, 240, 230, 1);
    margin-bottom: 20px;
}

.mb_sc_cb_cate2{
    margin-top: 10px;
}


.mb_sb_cb_item_title p{
    float: right;
    margin-bottom: 5px;
    margin-right: 16px;
    font-size: 18px
}
.worry_list_item{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mb_sb_cb_item_text{
    width: 90%;
    height: 134px;
    display: flex;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 3%;
}

.mb_sb_rb_rank {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(240, 240, 230, 1);
    width: 70%;
    height: 160px;
    overflow-y: auto;
    margin-bottom: 20px;

}
.mb_sb_rb_rank::-webkit-scrollbar {
    display: none;
}

.mb_sb_rb_textbox p{
    word-break: break-all;
    width: 100%;
    margin-top: 3px;
    font-size: 18px;
}
.mb_sb_rb_all{
    position: relative;
    left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 10%;
}
.mb_sb_rb_text{
    font-size: 25px;
}
.mb_sb_rb_live{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(240, 240, 230, 1);
    width: 250px;
    height: 30%;
    padding: 11px;
    padding-top: 0%;
    margin-bottom: 15px;
    overflow-y: auto;
}



.mb_sb_rk_user {
    display: flex;
    color: rgba(80, 80, 80, 1);
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
    min-width: 83%;
    height: 40px;
    border-radius: 10px;
    padding: 10px 0px 10px 30px;
}

.mb_sb_rk_user:hover {
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.mb_sb_rk_user img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.mb_sb_rb_iconbox{
    display: flex;
    width: 100%;
    justify-content: end;
    height: 25px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.bi {
    cursor: pointer;
    margin-top: 3px;
    font-size: 18px;
}
.mb_sb_rb_count{
    font-size: 20px;
    display: flex;
    width: 20px;
    margin-left: 3px;

}

.mb_sb_rb_livetext{
    margin-top: -10px;
    font-size: 18px;
}
.worry_board_link{
    text-decoration-line: none;
    color: black;
}
.letter_link {
    text-decoration-line: none;
}
.worry_link{
    text-decoration-line: none;
    color: black;
}

.modal_box{
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 75px;
    top: 80px;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    background-color: #A4A457;
}
.mb_myletter{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.mb_write{
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;

}
.mb_category{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_worry_board{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_logout{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;

}

.mb_line{
    margin-top: 3px;
    width: 150px;
    height: 0.5px;
    background-color: white;
}

.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;

}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    left: 0%;
    top: 0;
    position: absolute;
    display: flex;
    min-width: 220px;
    height: 100vh;
    width: 15%;
    font-size: 22px;
    flex-direction: column;
}

#drawer {
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 220px;
    font-size: 22px;
    flex-direction: column;
    background-color: rgb(235 233 215 / 80%);
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 25px;
    }
    .nc_profile {
        width: 80px;
        height: 80px;
    }
    .nc_mongle {
        width: 80px;
        height: 80px;
    }
}


@media (max-width: 780px) {
    body {
        background: #F0F0E6
    }
}

@media (max-width: 2150px) {
    .mc_sb_rankbox{
        width: 12%;
    }
}
@media (max-width: 1850px) {
    .mc_sb_rankbox{
        width: 14%;
    }
    .mc_sb_letter_bar span{
        margin-left: 60px;
    }
}

@media (max-width: 1600px) {
    .mc_sb_rankbox{
        display: none;
    }
    .mc_sb_letter_bar, .mc_sb_menu{
        width: 90%;

    }
    .mb_sb_rb_rank{
        width: 78%;
    }
    .mc_sub_container {
        margin-left: 223px;
    }

}

@media (max-width: 1130px) {
    .mc_sb_letter_bar span{
        font-size: 35px;
    }
    .mb_sb_rb_rank {
        width: 85%;
        height: 153px;
    }
}
@media (max-width: 950px) {
    .drawer_wrapper{
        display: none;
    }
    .main_container{
        display: flex;
    }
    .mc_sub_container{
        margin-left: 0px;
        width: 100%;
    }
    .mc_sb_letter_bar, .mc_sb_menu{
        width: 99%;
    }
    .mc_sb_reviewbox{
        display: none;
    }
    .mc_sb_catebox{
        width: 50%;
    }
    .mb_sb_catebox2{
        width: 50%;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .drawer_wrapper{
        background: rgb(235 233 215);
    }
    .main_container{
        margin-top: 30px;
    }
    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
}

@media (max-width: 650px) {
    .mc_sb_letter_bar span{
        font-size: 25px;
        margin-left: 42px;
    }
    .mc_sb_letter_bar p {
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .mc_sb_letter_bar span{
        font-size: 25px;
        margin-left: 42px;
    }
    .mc_sb_letter_bar p {
        font-size: 20px;
    }
    .mc_sb_menu{
        flex-direction: column;
        justify-content: unset;
        overflow-y: auto;
    }
    .mc_sb_catebox{
        width: 100%;
        height: unset;
        overflow-y: unset;
    }
    .mb_sb_catebox2{
        width: 100%;
        height: unset;
        overflow-y: unset;
    }
    .mc_sb_letter_bar span{
        font-size: 20px
    }
    .mc_sb_letter_bar p{
        font-size: 15px;
        margin-right: 25px;
    }
    .nc_sb_nav{
        margin-right: 20px;
    }
    .mb_sc_cb_cate, .mb_sc_cb_cate2{
        margin-bottom: 9px;
    }
    .nc_mongle, .nc_profile {
        width: 60px;
        height: 60px;
    }
}

@media (max-height: 896px) {
    #drawer{
        position: relative;
        top: 15%;
    }
}

@media (max-height: 845px) {
    #drawer{
        top: 15%;
    }
}

@media (max-height: 667px) {
    #drawer{
        top: 35%;
    }
}





.swal-modal {
    background-color: rgba(226, 202, 155, 1);
    border: 3px solid white;
    font-size: 30px;
}
.swal-text {
    font-size: 30px;
    color: rgba(80, 80, 80, 1);
}

.swal-button {
    background-color: rgb(235 233 215 / 80%);
    color: rgba(80, 80, 80, 1);
}

.swal-button:not([disabled]):hover{
    background-color: white;
}