body{
    margin: 0;
    background: linear-gradient(90deg, #F0F0E6 60%, #FFFFFF 45%);
    overflow-y: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;
}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 50px;
    height:50px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.drawer_text{
    font-size: 22px;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    position: fixed;
    flex-direction: column;
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}


.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.mc_sub_container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70%;
}

.mc_sb_text{
    width: 100%;
    height: 20%;
    font-size: 30px;
}

.mc_sb_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
}
.mc_sb_letter img {
    width: 100%;
    height: 100%;
}

.bi{
    color: #FEAA4B;
}
.fa-brands{
    color: green;
}
.main_intro_con,.main_intro_con2, .main_intro_con3,.main_intro_con4{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #F0F0E6 50%, #FFFFFF 50%);
}
.main_intro_con4{
    flex-direction: column;
}
.icon_box{
    position: absolute;
    top: 90%;
}

#under_btn{
    position: absolute;
    top: 96%;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}
.intro_text,.intro_text2,.intro_text3,.intro_text4{
    position: absolute;
    top: 90%;
    font-size: 30px;
    color: gray;
}

#under_btn2{
    position: absolute;
    top: 96%;
    left: 50%;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.intro_text_main{
    text-decoration-line: underline;
    position: relative;
    top: 300%;

}
.receive_img{
    width: 50%!important;
}

.mi_worry_img img{
    width: 50%;
}

.mi_worry_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mi_worry_text p {
    font-size: 30px;
}
.mi_worry_text {
    font-size: 30px;
}

.mi_worry_img{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mi_worry_img img{
    border-radius: 10px;
}

.mi_worry_img p, a{
    
    font-size: 30px;
    color: black;
}

.mi_worry_text2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.mi_worry_text4{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.mi_worry_text4 img{
    width: 65%;
}
.mi_worry_text4 p {
    font-size: 25px;
}
.mi_worry_text span{
    font-size: 25px;
}

.mi_worry_text2 img{
    width: 40%;
    border-radius: 10px;
}
.mi_worry_text2 p {
    font-size: 30px;
}
.mi_worry_text2 span{
    font-size: 30px;
}

.mi_worry_text3{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.mi_wr_img{
    width: 30%!important;
}


.mi_worry_text3 p {
    font-size: 28px;
}
.mi_worry_text3 span{
    font-size: 25px;
}

#under_btn3 {
    position: absolute;
    font-size: 30px;
    top: 96%;
    left: 50%;
    color: gray;
    cursor: pointer;
}

#under_btn4 {
    position: absolute;
    font-size: 30px;
    top: 90%;
    left: 50%;
    color: gray;
    cursor: pointer;
}

.mi_worry_text img {
    width: 45%;
    border-radius: 10px;
    margin-top: 10px;
}

.worry_board_png{
    width: 60%!important;
}

.letter_png{
    width: 60%!important;
    margin-top: 10px;
}




@media (max-width: 950px) {
    body{
        background: linear-gradient(90deg, #F0F0E6 100%, #FFFFFF 45%); 
    }
    .drawer_wrapper{
        display: none;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }

    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
    .main_container,.main_intro_con,.main_intro_con2,.main_intro_con3{
        flex-direction: column;
        overflow-y: scroll;
        justify-content: unset;
        background: linear-gradient(90deg, #F0F0E6 100%, #FFFFFF 45%); 

    }
    .intro_text {
        font-size: 25px;
    }
    .main_intro_con4{
        background: rgb(235 233 215 / 80%);
    }
    .mi_worry_text{
        width: 80%;
        margin-bottom: 100px;
    }
    .mi_worry_text2{
        margin-right: 0px;
        margin-bottom: 100px;
        width: 80%;
    }
    .mi_worry_text3{
        margin-top: 50px;
        margin-right: 0px;
        width: 80%;
        font-size: 20px;
    }
    .mi_worry_text4{
        margin-right: 0px;
        width: 80%;
        font-size: 20px;
        margin-bottom: 150px;

    }
    .mi_worry_text img{
        width: 80%;
        margin-top: 0px;
    }
    
    .mi_worry_text2 img{
        width: 80%;
    }
    .mi_worry_img img{
        margin-top: 30px;

    }
    .worry_board_png{
        width: 123%!important;
    }
    .mi_worry_text3 p{
        font-size: 25px;
    }
    .mi_worry_text3 span{
        font-size: 20px;
    }
    .mc_sb_letter{
        width: 100%;
        height: 50%;
    }
    .mc_sb_text{
        font-size: 20px;
    }
    .nav_container{
        position: unset;
    }
    .request_png{
        width: 120%!important;
    }
    .letter_png{
        width: 80%!important;
    }
}



@media (max-width: 450px) {
    .nc_sb_nav{
        margin-right: 20px;
    }
    .nc_mongle, .nc_profile {
        width: 60px;
        height: 60px;
    }
    .mc_sb_letter{
        height: 40%;
    }
    .mi_worry_text2 span{
        font-size: 20px;
    }
    .intro_text {
        font-size: 18px;
    }
    #under_btn,#under_btn2,#under_btn3 {

        font-size: 20px;
    }
    .mc_sub_container{
        width: 87%;
    }
    .mi_worry_text p{
        font-size: 24px;
    }
    .mi_worry_text2 p {
        font-size: 22px;
    }
    .mi_worry_text{
        margin-bottom: 0px;
    }
    .mi_worry_text span{
        font-size: 18px;
    }
    .intro_text, .intro_text2, .intro_text3, .intro_text4 {
        font-size: 20px;
    }
    .mi_worry_text3 p{
        font-size: 16px;
    }
    .mi_worry_text3 span,.mi_worry_text4 p{
        font-size: 17px;
    }
}






