body{
    margin: 0;
    background: linear-gradient(90deg, #F0F0E6 55%, #FFFFFF 45%);
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: -15px;

}


.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;

}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    font-size: 22px;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 15%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}


.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1229px;
}


.mc_sub_container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 970px;
    height: 670px;
}

.mc_sb_text{

    width: 100%;
    height: 50px;
    font-size: 30px;
}

.mc_sb_letter {
    margin-left: 100px;
    width: 100%;
    height: 620px;
}
.mc_sb_letter img {
    width: 100%;
    height: 620px;
}



@media (max-width: 1250px) {
    .drawer_wrapper{
        display: none;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .drawer_wrapper{
        background: rgb(235 233 215);
    }
    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
    .mc_sb_letter{
        margin-left: 0px;
    }
}


@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 25px;
    }
    .nc_profile {
        width: 80px;
        height: 80px;
    }
    .nc_mongle {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 450px) {
    .drawer_wrapper{
        position: absolute;
        min-width: 250px;
        height: 500px;
        left: 10%;
        top: 7%;
        border-radius: 20px;
    }
    #drawer{
        position: absolute;
        top: -21.5%;
        min-width: 250px;
    }
    .nc_sb_nav{
        margin-right: 20px;
    }
    .nc_mongle, .nc_profile {
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 780px) {
    body {
        background: #F0F0E6
    }
    .main_container{
        height: 1000px;
    }
    .mc_sub_container{
        margin-bottom: 100px;
    }
    .mc_sb_text{
        margin-bottom: 25px;
    }
}

@media (max-width: 1125px) {
    .mc_sub_container{
        width: 90%;
        height: 550px;
    }
    .mc_sb_letter img {
        width: 90%;
        height: 550px;
    }
}

@media (max-width: 950px) {
    .drawer_wrapper{
        display: none;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .drawer_wrapper{
        background: rgb(235 233 215);
    }

    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
}

@media (max-width: 570px) {
    .mc_sb_text {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .mc_sub_container{
        width: 80%;
        height: 200px;
        position: absolute;
        top: 40%;
    }
    .mc_sb_letter img {
        width: 90%;
        height: 200px;
    }
    .main_container {
        height: 50%;
    }
    .drawer_wrapper{
        position: absolute;
        min-width: 250px;
        height: 500px;
        left: 10%;
        top: 8%;
        border-radius: 20px;
        z-index: 5;
    }
    #drawer{
        top: 1.5%;
    }

}

@media (max-width: 450px) {
    .nc_sb_nav{
        margin-right: 20px;
    }

    .nc_mongle, .nc_profile {
        width: 60px;
        height: 60px;
    }
}
@media (max-height: 896px) {
    .drawer_wrapper {
        top: 11.5%;
    }
    #drawer{
        top: 10.5%;
    }
}
@media (max-height: 844px) {
    .drawer_wrapper {
        top: 11.5%;
    }
    #drawer{
        top: 13.5%;
    }
}

@media (max-height: 670px) {
    .drawer_wrapper {
        top: 14.5%;
    }
    #drawer{
        top: 33.5%;
    }
}