body,html{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #F0F0E6 60%, #FFFFFF 45%);
    overflow-y: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    font-size: 1vw;
}
.nav_container {
    z-index: 0;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}


.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 50px;
    height:50px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.open_drawer{
    display: none;
}
.open_drawer:hover {
    cursor: pointer;
}
.drawer_text{
    padding: 7% 0;
    margin: 0.5px 0;
    border-radius: 0.8em;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
    cursor: pointer;
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    flex-direction: column;
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}


.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.mc_sub_container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70%;
}

.mc_sb_text{
    width: 100%;
    height: 20%;
}

.mc_sb_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
}
.mc_sb_letter img {
    width: 100%;
    height: 100%;
}

.bi{
    color: #FEAA4B;
}
.fa-brands{
    color: green;
}
.main_intro_con,.main_intro_con2, .main_intro_con3,.main_intro_con4{
    display: none;
    justify-content: center;
    align-items: center;
    width: 88%;
    margin-left: 12%;
    height: 100%;
    background: linear-gradient(90deg, #F0F0E6 50%, #FFFFFF 50%);
}
.main_intro_con4{
    flex-direction: column;
}
.icon_box{
    position: absolute;
    top: 90%;
}

#under_btn{
    position: absolute;
    top: 96%;
    color: gray;
    cursor: pointer;
}
.intro_text,.intro_text2,.intro_text3,.intro_text4{
    position: absolute;
    top: 90%;
    color: gray;
}

#under_btn2{
    position: absolute;
    top: 96%;
    left: 55%;
    color: gray;
    cursor: pointer;
}

.intro_text_main{
    text-decoration-line: underline;
    position: relative;
    top: 300%;

}
.receive_img{
    width: 50%!important;
}

.mi_worry_img img{
    width: 50%;
}

.mi_worry_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}



.mi_worry_img{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mi_worry_img img{
    border-radius: 10px;
}

.mi_worry_img p, a{
    
    color: black;
}

.mi_worry_text2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#mi_worry_text2_right{
    height: 100%;
}
.mi_worry_text4{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mi_worry_text4 img{
    width: 65%;
}


.mi_worry_text2 img{
    width: 40%;
    border-radius: 10px;
}

.mi_worry_text3{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#mi_worry_text3_last{
    height: 40%;
}
.mi_wr_img{
    width: 30%!important;
}



#under_btn3 {
    position: absolute;
    top: 96%;
    left: 55%;
    color: gray;
    cursor: pointer;
}

#under_btn4 {
    position: absolute;
    top: 90%;
    left: 55%;
    color: gray;
    cursor: pointer;
}

.mi_worry_text img {
    width: 40%;
}

.worry_board_png{
    width: 60%!important;
}

.letter_png{
    width: 55%!important;
}

.drawer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}


@media (max-width: 950px) {
    *{
        font-size: 18px;   
    }

    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
    .open_drawer{
        display: block;
    }
    body{
        background: linear-gradient(90deg, #F0F0E6 100%, #FFFFFF 45%); 
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
        align-items: baseline !important;
    }
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .nc_sb_nav{
        margin-top: 31px;
        margin-right: 40px;
    }
    .main_container,.main_intro_con,.main_intro_con2,.main_intro_con3{
        flex-direction: column;
        overflow-y: scroll;
        justify-content: unset;
        background: linear-gradient(90deg, #F0F0E6 100%, #FFFFFF 45%); 

    }

    .main_intro_con4{
        background: rgb(235 233 215 / 80%);
    }
    .mi_worry_text{
        width: 80%;
        margin-bottom: 100px;
    }
    .mi_worry_text2{
        width: 80%;
        height: 100%;
        margin: 10% 0;
    }
    .mi_worry_text3{
        margin: 5% 0;
        width: 80%;
        height: 100%;
    }
    .mi_worry_text4{
        width: 80%;
        height: 100%;
    }
    .mi_worry_text img{
        width: 80%;
        margin-top: 0px;
    }
    
    .mi_worry_text2 img{
        width: 80%;
    }
    .mi_worry_img img{
        margin-top: 30px;

    }
    .worry_board_png{
        width: 123%!important;
    }

    .mc_sb_letter{
        width: 100%;
        height: 50%;
    }

    .nav_container{
        position: unset;
    }
    .request_png{
        width: 120%!important;
    }
    .letter_png{
        width: 80%!important;
    }
    .nc_mongle, .nc_profile{
        
        width: 70px !important;
        height: 70px !important;
    }
    .nc_sb_nav{
        margin-top: 0 !important;
        margin-right: 40px !important;
    }
    .mi_worry_text{
        margin-bottom: 50%;
    }
    .main_container,.main_intro_con,.main_intro_con2,.main_intro_con3, .main_intro_con4{
        width: 100%;
        margin-left: unset;
    }
    #under_btn2, #under_btn3 {
        left: 50%;
    }


}


@media (max-width: 450px) {
    .open_drawer{
        margin: 20px 0 0 20px !important;
    }
    .nc_mongle, .nc_profile{
        
        width: 40px !important;
        height: 40px !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nav_container{
        height: 60px !important;
    }
    .nc_sub_container{
        height: 60px !important;
    }
    .mc_sb_letter{
        height: 40%;
    }

    .mc_sub_container{
        width: 87%;
    }

    .mi_worry_text{
        margin-bottom: 32%;
    }

    .nc_mongle, .nc_profile {
        width: 60px;
        height: 60px;
    }

    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }


}
