body, html{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(235 233 215 / 80%);
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    font-size: 1vw;
}

.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}
.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height:80px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}
.mb_sb_rb_text_box{
    width: 80%;
    margin-bottom: 15px;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.mb_sb_rb_text_box button {
    cursor: pointer;
    font-size: 13px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.mb_sb_rb_text_box button:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.main_container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 88%;
    height: 100%;
    margin-left: 10%;
    margin-top: 3%;
}
.mc_sub_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mc_sb_letter_bar{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(176, 170, 109, 0.8);   
    border: 1px solid gray; 
}
.mc_sb_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 202, 155, 1);
    border-radius: 20px;
    border: 1px solid gray;
    width: 80%;
    height: 1000px;
    padding-top: 2%;
}
.mc_sb_letter_bar span{ 
    margin-left: 100px;
    font-size: 1.7vw;
    color: white;
}
.mc_sb_letter_bar p{
    cursor: pointer;
    margin-right: 50px;
    color: white;
}

.mc_sb_catebox{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 1000px;
    overflow-y: auto;


}
.mc_sb_catebox::-webkit-scrollbar {
display: none;
}

.mb_sb_catebox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 1000px;
    overflow-y: auto;
}
.mb_sb_catebox2::-webkit-scrollbar {
    display: none;
}

#review_rank{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 764px;
    overflow-y: auto;
    flex-direction: column;
}
#review_rank::-webkit-scrollbar {
    display: none;
}
.mc_sb_reviewbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.mc_sb_rankbox{
    display: flex;
    position: relative;
    top: 13.3%;
    right: 5%;
    align-items: center;
    flex-direction: column;
    width: 10%;
    max-height: 20%;
    border-radius: 20px;
}
.mc_sb_rb_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 202, 155, 1);
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 100%;
    border-radius: 20px;
}

.mb_sb_rb_title p{
    width: 100%;
    height: 20px;
    font-size: 1.2vw;

}

.mb_sb_rb_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mb_sb_rb_textbox{
    width: 90%;
    word-break: break-all;
}

.mb_sb_cate{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mb_sb_rk_title{
    background-color: rgba(226, 202, 155, 1);
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
    height: 5%;
}
.mb_sb_rk_title span{
    font-size: 25px;
    color:rgba(80, 80, 80, 1);
}
.mb_sb_cb_item {
    cursor: pointer;
    border-radius: 0.8em;
    width: 80%;
    background-color: rgba(240, 240, 230, 1);
    margin-bottom: 20px;
}

.mb_sc_cb_cate2{
    margin-top: 10px;
    font-size: 1.2vw;
}
.mb_sc_cb_cate{
    font-size: 1.2vw;
}


.mb_sb_cb_item_title p{
    float: right;
    margin-bottom: 5px;
    margin-right: 16px;
    font-size: 18px
}
.worry_list_item{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mb_sb_cb_item_text{
    width: 90%;
    height: 134px;
    display: flex;
    overflow: hidden;
    text-align: left;
    margin-left: 5%;
    margin-right: 3%;
}

.mb_sb_rb_rank {
    display: flex;
    flex-direction: column;
    border-radius: .8em;
    background-color: rgba(240, 240, 230, 1);
    width: 70%;
    overflow-y: auto;
    align-items: center;
    margin-bottom: 20px;
    min-height: 7vh;

}
.mb_sb_rb_rank::-webkit-scrollbar {
    display: none;
}

.mb_sb_rb_textbox p{
    word-break: break-all;
    width: 100%;
    margin-top: 3px;
    font-size: 1vw;
}
.mb_sb_rb_all{
    position: relative;
    left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 10%;
}
.mb_sb_rb_text{
    font-size: 25px;
}
.mb_sb_rb_live{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(240, 240, 230, 1);
    width: 250px;
    height: 30%;
    padding: 11px;
    padding-top: 0%;
    margin-bottom: 15px;
    overflow-y: auto;
}



.mb_sb_rk_user {
    display: flex;
    color: rgba(80, 80, 80, 1);
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
    min-width: 83%;
    height: 40px;
    border-radius: 10px;
    padding: 10px 0px 10px 30px;
}

.mb_sb_rk_user:hover {
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.mb_sb_rk_user img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.mb_sb_rb_iconbox{
    display: flex;
    width: 100%;
    justify-content: end;
    height: 25px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.bi {
    cursor: pointer;
    margin-top: 3px;
    font-size: 18px;
}
.mb_sb_rb_count{
    font-size: 20px;
    display: flex;
    width: 20px;
    margin-left: 3px;

}

.mb_sb_rb_livetext{
    margin-top: -10px;
    font-size: 18px;
}
.worry_board_link{
    text-decoration-line: none;
    color: black;
}
.letter_link {
    text-decoration-line: none;
}
.worry_link{
    text-decoration-line: none;
    color: black;
}

.modal_box{
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 75px;
    top: 80px;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    background-color: #A4A457;
}
.mb_myletter{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.mb_write{
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;

}
.mb_category{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_worry_board{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_logout{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;

}

.mb_line{
    margin-top: 3px;
    width: 150px;
    height: 0.5px;
    background-color: white;
}

.drawer_text{
    padding: 7% 0px;
    margin: 0.5px 0;
    border-radius: 0.8em;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}

#cur_drawer_text{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.open_drawer{
    display: none;
    font-size: 20px;
}
.open_drawer:hover {
    cursor: pointer;
}
.drawer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    cursor: pointer;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}






@media (max-width: 1600px) {
    .mc_sb_rankbox{
        display: none;
    }
    .mc_sb_letter_bar, .mc_sb_menu{
        width: 90%;

    }
    .mb_sb_rb_rank{
        width: 78%;
    }
    .main_container{
        margin-left: 14%;
    }

}


@media (max-width: 950px) {
    * {
        font-size: 2.5vw !important;
    }
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .main_container{
        display: flex;
        margin-left: 1%;
        width: 98%;
    }
    .mc_sub_container{
        margin-left: 0px;
        width: 100%;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .mc_sb_letter_bar, .mc_sb_menu{
        width: 99%;
    }
    .mc_sb_reviewbox{
        display: none;
    }
    .mc_sb_catebox{
        width: 50%;
    }
    .mb_sb_catebox2{
        width: 50%;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .main_container{
        margin-top: 30px;
    }
    .nc_mongle, .nc_profile{
        width: 70px;
        height: 70px;
    
    }
    .nc_sb_nav{
        margin-top: 10px;
        margin-right: 40px;
    }
    .mc_sb_letter_bar span{
        margin-left: 50px;
    }
    .mb_sb_cb_title p {
        font-size: 22px;
    }
}


@media (max-width: 450px) {
    * {
        font-size: 4vw !important;
    }
    .nav_container{
        height: 60px !important;
        margin-bottom: 30px;
    }
    .nc_sub_container{
        height: 60px !important;
        align-items: baseline !important;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nc_mongle, .nc_profile{
        margin: 0 ;
        width: 40px;
        height: 40px;
    }
    .d_white_space{
        margin-top: -60px;
    }
    .mc_sb_letter_bar span{
        margin-left: 42px;
    }
    .mc_sb_menu{
        flex-direction: column;
        justify-content: unset;
        overflow-y: auto;
    }
    .mc_sb_catebox{
        width: 100%;
        height: unset;
        overflow-y: unset;
    }
    .mb_sb_catebox2{
        width: 100%;
        height: unset;
        overflow-y: unset;
    }
    .mc_sb_letter_bar p{
        margin-right: 25px;
    }
    .mb_sc_cb_cate, .mb_sc_cb_cate2{
        margin-bottom: 9px;
    }
    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }
    .mb_sb_cb_item {
        width: 80%;
        height: 80%;
    }
}



.bi-brightness-high-fill{
    color : #FEAA4B;
}




.swal-modal {
    background-color: rgba(226, 202, 155, 1);
    border: 3px solid white;
    font-size: 30px;
}
.swal-text {
    font-size: 30px;
    color: rgba(80, 80, 80, 1);
}

.swal-button {
    background-color: rgb(235 233 215 / 80%);
    color: rgba(80, 80, 80, 1);
}

.swal-button:not([disabled]):hover{
    background-color: white;
}