body{
    margin: 0;
    background: #E2CA9B;
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height:80px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.drawer_text{
    font-size: 22px;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    position: fixed;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}
#cur_drawer_text{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1229px;
}

.mc_sub_container{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.mc_sb_title_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 170, 109, 0.8) ;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 9%;
}

.mc_sb_letter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #F0F0E6;
    width: 100%;
    height: 79%;
    margin-bottom: -5px;
}

.mc_sb_btn_box{
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 9%;
}

.mb_sb_title{
    background: transparent;
    text-align: center;
    font-size: 22px;
    width: 650px;
    height: 50px;
    outline: none;
    border: none;
    color: white;
}
input::placeholder {
    color: white;

}
.open_drawer{ display: none; font-size: 20px; }
.mb_sb_content{
    text-align: left;
    border: none;
    outline: none;
    background: transparent;
    font-size: 23px;
    width: 90%;
    height: 700px;
    size: 500px;

}
.mc_sb_btn_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cancel_btn{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    width: 25%;
    height: 50px;
    color: #536134
}
.cancel_btn:hover{
    background-color: rgba(176, 170, 109, 0.8) ;
    color: white;
}
.post_btn{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    width: 25%;
    height: 50px;
    color: #536134
}

.post_btn:hover{
    background-color: rgba(176, 170, 109, 0.8) ;
    color: white;
}





@media (max-width: 950px) {
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
    }
    .main_container{
        width: 100%;
        margin-left: 0px;
    }
    .nc_sb_modal{
        display: flex;
        left: 7%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-bottom: 0px;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .mc_sub_container{
        margin-left: 0px;
        width: 99%;
        height: 1150px;
    }
    .main_container {
        margin-top: -30px;
    }
    .post_btn,.cancel_btn{
        width: 17%;

    }
    .mb_sb_content {
        height:90%;
    }
    .mc_sb_title_box{
        height: 6%;
    }
    .mc_sb_letter_box{
        height: 70%;
    }
    
}

@media (max-width: 450px) {
    *{
        font-size: 14px !important;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .nav_container{
        height: 60px !important;
        margin-bottom: 30px;
    }
    .nc_sub_container{
        height: 60px !important;
        align-items: baseline !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nc_mongle, .nc_profile{
        margin: 0 !important;
        width: 40px !important;
        height: 40px !important;
    }
    .d_white_space {
        margin-top: -60px !important;
    }
    body{
        overflow: hidden;
    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 15px;

    }
    .nc_sb_nav{
        margin-top: 0px;
    }
    .main_container{
        height: 50%;
    }
    .mc_sub_container{
        justify-content: unset;
        margin-top: 50px;
    }
    .mc_sb_letter_box {
        height: 40%;
    }
    .mc_sb_btn_box {
        height: 5%;
    }
    .post_btn, .cancel_btn{
        font-size: 11px;
    }
    .post_btn, .cancel_btn {
        height: 45%;
    }
    .mb_sb_title{
        font-size: 18px;
    }
    .mb_sb_content {
        font-size: 17px;
    }
    .mc_sb_letter_box {
        height: 36%;
    }
    .mc_sb_title_box {
        height: 5%;
    }
    .d_white_space{
        margin-top: -60px;
    }
    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }
}


