body{
    margin: 0;
    background: #E2CA9B;
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: -15px;

}


.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;

}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    font-size: 22px;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 15%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1229px;
}

.mc_sub_container{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.mc_sb_title_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 170, 109, 0.8) ;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 9%;
}

.mc_sb_letter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #F0F0E6;
    width: 100%;
    height: 79%;
    margin-bottom: -5px;
}

.mc_sb_btn_box{
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 9%;
}

.mb_sb_title{
    background: transparent;
    text-align: center;
    font-size: 22px;
    width: 650px;
    height: 50px;
    outline: none;
    border: none;
    color: white;
}
input::placeholder {
    color: white;

}
.mb_sb_content{
    text-align: left;
    border: none;
    outline: none;
    background: transparent;
    font-size: 23px;
    width: 90%;
    height: 700px;
    size: 500px;

}
.mc_sb_btn_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cancel_btn{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    width: 25%;
    height: 50px;
    color: #536134
}
.cancel_btn:hover{
    background-color: rgba(176, 170, 109, 0.8) ;
    color: white;
}
.post_btn{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    width: 25%;
    height: 50px;
    color: #536134
}

.post_btn:hover{
    background-color: rgba(176, 170, 109, 0.8) ;
    color: white;
}


@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
    .nc_profile {
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }

}
@media (max-width: 480px) {
    .nc_profile {
        width: 40px;
        height: 40px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 15px;

    }

}

@media (max-width: 560px) {
    .post_btn, .cancel_btn  {   
        font-size: 16px;
        width: 25%;

    }


}

@media (max-width: 402px) {
    .post_btn, .cancel_btn  {   
        font-size: 14px;

    }


}

@media (max-width: 950px) {
    .drawer_wrapper{
        display: none;
        background: rgb(235 233 215 / 100%);
    }
    .main_container{
        width: 100%;
        margin-left: 0px;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-bottom: 0px;
        height: 113px;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .mc_sub_container{
        margin-left: 0px;
        width: 99%;
        height: 1150px;
    }
    .main_container {
        margin-top: -30px;
    }
    .post_btn,.cancel_btn{
        width: 17%;

    }
    .mb_sb_content {
        height: 830px;
    }
}

@media (max-height: 896px) {
    .mc_sb_title_box {
        height: 8%;
    }
    .main_container{
        align-items: unset;
        height: 734px;
        margin-top: 0px;
    }
    .mc_sub_container{
        height: 700px;
    }
    .mb_sb_content{
        height: 500px;
    }
    .cancel_btn,.post_btn{
        width: 20%;
        height: 30px;
    }
    #drawer{
        top: 100px;
    }
}

@media (max-height: 667px) {
    .mc_sb_title_box {
        height: 6%;
    }
    .main_container{
        align-items: unset;
        height: 565px;
    }
    .mc_sub_container{
        height: 500px;
    }
    .mb_sb_content{
        height: 350px;
    }
    .cancel_btn,.post_btn{
        margin-top: 10px;
    }
    .mb_sb_title {
        font-size: 15px;
    }
    .mb_sb_content{
        font-size: 18px;
    }
    #drawer{
        top: 200px;
    }
    
}