html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background: #F0F0E6;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 50px;
    height:50px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.open_drawer {
    display: none;
    font-size: 20px;
}
.drawer_text{
    font-size: 22px;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    position: fixed;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}

/* 메인시작 */
.main_container{
    width: 100%;
    /* height: 110rem; */
    background-color: #F0F0E6;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 익명게시판 타이틀 */
.mc_board_title{
    width: 50%;
    height: 10rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
}
.mc_bt_empty{
    width: 20%;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    margin-left: 6.2rem;
    cursor: pointer;
}
.mc_bt_category_box{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mc_bt_cb_category{
    font-size: 2.6rem;
    cursor: pointer;
}
.mc_bt_cb_category:hover{
    font-size: 2.7rem;
    font-weight: 600;
}
.mc_board_body{
    width: 50%;
    /* height: 80rem; */
    margin-top: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2CA9B;
    margin-bottom: 8rem;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    margin-left: 6.2rem;
    cursor: pointer;
}
.mc_bb_board_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;

}
.page_number{
    margin: 0 0.6rem 0 0.6rem;
    cursor: pointer;
}
.page_num_button:hover{
    color: whitesmoke;
}
.page_num_button{
    background-color: #E2CA9B;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.cur_page{
    color: blue;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    width: 100%;
    /* height: 10.5rem; */
    margin-bottom: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    background-color: white;
    justify-items: center;
    align-items: center;
}
.md_bb_bl_board_box{
    width: 90%;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 4.65rem;
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;

}
.md_bb_bl_bd_desc_image_icon{
    width: 4.5%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("/mongle.png");
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
.md_bb_bl_bd_middle{
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_bl_bd_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_edit{
    width: 30%;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    width: 30%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2rem;
    margin: auto;
}
.bi-brightness-high-fill{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_request{
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.md_bb_bl_bd_request_button{
    width: 30%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(176, 170, 109, 0.5);
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
    border: none;
}
.md_bb_bl_bd_post_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(176, 170, 109, 0.8);
    color: white;
    font-size: 1.5rem;
    border: none;
}
.md_bb_bl_bd_request_button:hover{
    cursor: pointer;
}

.open_modal_button{

    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 88%;
    left: 88%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 100%;
    color: white;
    font-size: 5rem;
    line-height: 8rem;
}
/* 여기부터 모달 */
.modal_background{
    background : rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.small_modal{
    width: 40%;
    height: 83rem;
}
.sm_title{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 15px;
}
.sm_tt_text{
    font-size: 2.6rem;
    color: white;
    margin-left: 5.5rem;
}
.sm_tt_category{
    width: 14%;
    height: 50%;
    border-radius: 15px;
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sm_tt_title_input{
    font-size: 2.4rem;
    width: 70%;
    height: 5rem;
    margin-left: 3rem;
    padding-left: 2rem;
    border-radius: 15px;
}
.recieve_modal_empty_box{
    width: 56%;
}
.close_button_div {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
}
.x_button{
    width: 100%;
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.sm_body{
    margin-top: 1.4rem;
    width: 100%;
    /* height: 50rem; */
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sm_bd_text{
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: white;
    margin-left: 13rem;
    padding-top: 2.5rem;
}
.sm_bd_content{
    width: 91%;
}
.sm_bd_ct_textarea{
    width: 93%;
    height: 20rem;
    resize: none;
    border-radius: 15px;
    font-size: 2rem;
    color: #A4A457;
    padding: 3%;
}
.sm_bd_ct_text{
    width: 93%;
    height: 40rem;
    resize: none;
    border-radius: 15px;
    font-size: 2rem;
    color: #A4A457;
    padding: 3%;
    margin-bottom: 4rem;
    background-color: white;
}
.sm_bd_button {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.sm_bd_submit_button{
    cursor: pointer;
    background-color: rgba(176, 170, 109, 0.8);
    width: 10%;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}
/* request 모달 */
.sm_bd_target_text{
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: white;
    margin-left: 13rem;
    padding-top: 2.5rem;
}
.sm_bd_target_content{
    width: 86%;
    height: 15rem;
    background-color: white;
    border-radius: 15px;
    font-size: 2rem;
    color: #A4A457;
    border: 1px solid gray;
    padding: 2rem 0 0 3rem;
}



@media (max-width: 950px) {

    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
        align-items: baseline !important;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .mc_bt_cb_category   {
        font-size: 2.3rem;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .main_container{
        margin-left: 0px;

    }
    .mc_board_title,.mc_board_body{
        width: 99%;
    }

}


@media (max-width: 450px) {
    *{
        font-size: 14px !important;
    }
    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }
    .nav_container{
        height: 40px !important;
        margin-bottom: 30px;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .main_container{
        margin-top: 0px;
    }
    .md_bb_bl_bd_request_button  {
        height: 3rem;
    }
    .md_bb_bl_bd_request  {
        width: 30%;
    }
    .mc_bt_title_text {
        font-size: 25px;
    }
    .mc_board_title{
        justify-content: center;
        align-items: center;
        
    }
    .nc_sub_container{
        height: 40px !important;
    }
    .md_bb_bl_bd_hidden_name {
        font-size: 2rme;
    }
    .md_bb_bl_bd_request_button{
        font-size: 1rem;
    }
    .mc_board_title{
        height: 6rem;
    }
    .md_bb_bl_board{
        height: 10rem;
    }
    .md_bb_bl_bd_hidden_name{
        font-size: 2rem;
    }
    .d_white_space {
        margin-top:18px !important
    }
    .nc_mongle, .nc_profile{
        
        width: 40px !important;
        height: 40px !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
}
