html{
    font-size: 62.5%;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(235 233 215 / 80%);
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    font-size: 1vw;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}
.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height:80px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}
.drawer_text{
    padding: 7% 0px;
    font-size: 1.3vw;
    margin: 0.5px 0;
    border-radius: 0.8em;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}
.drawer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}
#cur_drawer_text{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.open_drawer {
    display: none;
    font-size: 20px;
}
.open_drawer:hover {
    cursor: pointer;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    position: fixed;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}



.main_container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
}


/* 익명게시판 타이틀 */
.mc_board_title{
    width: 55%;
    max-width: 1260px;
    height: 10rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
    justify-content: space-around;
}
.mc_bt_empty{
    width: 20%;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.mc_bt_category_box{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mc_bt_cb_category{
    font-size: 2.6rem;
    cursor: pointer;
}
.mc_bt_cb_category:hover{
    font-size: 2.7rem;
    font-weight: 600;
}
.mc_board_body{
    width: 55%;
    max-width: 1260px;
    margin-top: 1.4rem;
    height: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 202, 155);
    border: 1px solid gray;
}

.mc_bb_board_lists{  
    width: 90.9%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0px;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.page_number{
    margin: 0 0.6rem 0 0.6rem;
    cursor: pointer;
}
.page_num_button:hover{
    color: whitesmoke;
}
.page_num_button{
    background-color: #E2CA9B;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.cur_page{
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    width: 100%;
    height: 14rem;
    margin-bottom: 0.7rem;
    border-radius: 0.8em;
    display: flex;
    background-color: white;
}
.md_bb_bl_board_box{
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.md_bb_bl_bd_request_button {
    border: none;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 5rem;
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
.md_bb_bl_bd_desc_image_icon{
    width: 50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/images/mongle.png");
    border-radius: 50%;
}
.md_bb_bl_bd_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_bl_bd_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 30%;
    padding-right: 10%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_edit{
    width: 30%;
    margin-right: 5%;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    width: 30%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2rem;
    margin: auto;
}
.bi-brightness-high-fill{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_request{
    width: 15%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.md_bb_bl_bd_request_button{
    width: 96%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(176, 170, 109, 0.8);
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.open_modal_button{
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 88%;
    left: 88%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 100%;
    color: white;
    font-size: 5rem;
    line-height: 8rem;
}
/* 여기부터 모달 */
.modal_background{
    background : rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.small_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 90%;
    max-width: 1260px;
    max-height: 1100px;
}

.sm_title{
    width: 100%;
    text-align: center;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(176, 170, 109, 1);
    border-radius: 15px;
}


.sm_tt_text{
    font-size: 1.5vw;
    color: white;
    width: 48%;
}
.sm_tt_category{
    width: 20%;
    height: 50%;
    border-radius: 15px;
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
}
.sm_tt_title_input{
    font-size: 2.4rem;
    width: 70%;
    height: 5rem;
    margin-left: 3rem;
    padding-left: 2rem;
    border-radius: 15px;
}
.empty_box{
    width: 50%;
}
.request_modal_empty_box{
    width: 42%;
}
.edit_modal_empty_box{
    width: 43%;
}
.close_button_div {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
}
.x_button{
    width: 100%;
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    color: white;
}
.sm_body{
    margin-top: 1.4rem;
    width: 100%;
    height: 80rem;
    max-height: 70%;
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sm_bd_text{
    width: 80%;
    height: 7.5rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_bd_content{
    width: 91%;
    height: 60%;
    max-height: 60rem;
    padding-bottom: 4%;
}
.sm_bd_ct_textarea{
    width: 93%;
    height: 93%;
    resize: none;
    outline: none;
    border-radius: 15px;
    font-size: 1vw;
    color: rgba(80, 80, 80, 1);
    padding: 3%;
}
.sm_bd_button{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sm_bd_submit_button{
    cursor: pointer;
    background-color: rgba(176, 170, 109, 0.8);
    width: 14%;
    height: 4rem;
    color: white;
    font-size: 1.5vw;
    border-radius: 15px;
    border: none;
}

/* request 모달 */
.sm_bd_target_text{
    width: 100%;
    height: 5.5rem;
    font-size: 1.5vw;
    color: white;
    margin-left: 13rem;
    padding-top: 2.5rem;
}
.sm_bd_target_content{
    width: 86%;
    height: 15rem;
    background-color: white;
    border-radius: 15px;
    font-size: 1vw;
    color: #A4A457;
    border: 1px solid gray;
    padding: 20px
}
.my_worry_board{
    background-color: #F0F0E6;
    color: rgb(80, 80, 80);
    border: none;
}
/* cancle_request 모달 */
.cancle_request_small_modal{
    width: 80%;
    max-width: 500px;
    height: 20vh;
}
.cr_sm_title{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 15px;
}
.cr_sm_body{
    width: 100%;
    height: 80%;
    max-height: 140px;
    background-color: rgb(226, 202, 155);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cr_sm_tt_text{
    font-size: 2.6rem;
    color: white;
    margin-left: 5.5rem;
}
.cr_sm_bd_button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
}
.cr_sm_bd_yes_button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    width: 18%;
    height: 4vh;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}
.cr_sm_bd_no_button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    width: 18%;
    height: 4vh;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}


@media (max-width: 950px) {
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-top: 0px;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .main_container{
        align-items: center;
        position: unset;
        left: unset;
        top: unset;
    }
    .mc_board_title,.mc_board_body{
        width: 99%;
    }
    .sm_bd_text {
        font-size: 2vw;
        margin-left: 2.2rem;
    }
    .open_modal_button{
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
    }
    .sm_bd_submit_button{
        width: 17.5%;
    }
    .sm_tt_text{
        font-size: 2vw;
        margin-left: 1%;
        width: 90%;
    }
    .sm_tt_category {
        width: 32%;
        border-radius: 0.4em;
    }
    .sm_bd_button{
        height: 10%;
    }
    .sm_body{
        height: 66%;
    }
    .sm_bd_button{
        margin-top: unset;
    }
    .sm_title{
        height: 10%;
    }
    .sm_bd_target_text{
        font-size: 2vw;
    }
    .sm_bd_target_content{
        font-size: 1.8vw;
    }
}



@media (max-width: 450px) {
    *{
        font-size: 14px !important;
    }
    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }
    .mc_board_title{
        height: 6rem;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .nav_container{
        height: 40px !important;
        margin-bottom: 30px;
    }
    .nc_sub_container{
        height: 40px !important;
        align-items: baseline !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nc_mongle, .nc_profile{
        margin: 0 !important;
        width: 40px !important;
        height: 40px !important;
    }
    .d_white_space {
        margin-top: -60px !important;
    }
    .main_container{
        margin-top: 0px;
    }
    .mc_bt_cb_category{
        max-width: 20px;
    }
    .md_bb_bl_bd_desc_image_icon {
        width: 30px;
        height: 20px;
    }
    .md_bb_bl_bd_request {
        margin-bottom: -20px;
        width: 25%;
        margin-right: 4px;
    }
    .md_bb_bl_bd_desc_ed_delete{
        margin-left: 10px;
    }
    .md_bb_bl_bd_desc_create_date {
        margin-left: 1rem;
    }
    .md_bb_bl_bd_desc_edit_delete {
        width: 65%;
    }
    .md_bb_bl_bd_hidden_name{
        font-size: 2.05rem;    
    }
    .md_bb_bl_bd_ct_left {
        position: absolute;
        font-size: 1.5rem;
        margin-left: 0px;
        word-break: break-all;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 70%;
        top: 2vh;
        left: 10%;
    }
    .nc_sb_modal{
        height: 100px;
    }
    .mc_bb_page_number{
        padding : 0.5rem 0 0.5rem 0;
    }
    .d_white_space{
        margin-top: -60px;
    }
    .md_bb_bl_board{
        position: relative;
        height: 17vh;
    }
    .md_bb_bl_board_box{
        position: absolute;
        top: 30%;
    }
    .md_bb_bl_bd_description{
        position: absolute;
        left: -9%;
        height: 0;
        margin-top: -2vh;
    }
    .md_bb_bl_bd_request{
        position: absolute;
        left: 73%;
    }
    .open_modal_button{
        position: fixed;
        top: 90%;
        left: 80%;
        width: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        font-size: 40px!important;
    }
    .sm_title {
        height: 5rem;
    }
    .sm_tt_category{
        width: 55%;
    }
    .sm_tt_text {
        margin-left: 2.5rem;
        width: 50%;
    }
    .x_button{
        font-size: 25px!important;
    }
    .sm_bd_text{
        height: 4.5rem;
        margin-left: unset;
    }
    .sm_bd_submit_button {
        height: 3rem;
        margin: 20px 0;
    }
    .sm_bd_button {
        height: 5rem;
        margin-top: unset;
    }
    .sm_body{
        height: 40rem;
    }
    .sm_bd_target_content {
        width: 77%;
    }
    .small_modal {
        width: 99%;
    }
    .sm_bd_content{
        height: 75%;
    }
    .sm_bd_target_text{
        margin-left: 4.5rem;
        height: 3.5rem;
        padding-top: 1rem;
    }
    .md_bb_bl_bd_request_button{
        height: 22%;
    }
}




