html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background: #F0F0E6;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-size: cover;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: -15px;

}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    font-size: 22px;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 15%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}



.main_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    left: 32%;
}


/* 익명게시판 타이틀 */
.mc_board_title{
    width: 50%;
    height: 10rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
    justify-content: space-around;
}
.mc_bt_empty{
    width: 20%;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.mc_bt_category_box{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mc_bt_cb_category{
    font-size: 2.6rem;
    cursor: pointer;
}
.mc_bt_cb_category:hover{
    font-size: 2.7rem;
    font-weight: 600;
}
.mc_board_body{
    width: 50%;
    /* height: 80rem; */
    margin-top: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2CA9B;
    margin-bottom: 8rem;
    border: 1px solid gray;
}

.mc_bb_board_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;

}
.page_number{
    margin-right: 1.2rem;
    cursor: pointer;
}
.cur_page{
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    width: 100%;
    /* height: 10.5rem; */
    margin-bottom: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    background-color: white;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.md_bb_bl_board_box{
    width: 90%;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 4.65rem;
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    align-items: center;

}
.md_bb_bl_bd_desc_image_icon{
    width: 50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/mongle.jpeg");
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
.md_bb_bl_bd_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_bl_bd_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_edit{
    width: 30%;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    width: 30%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2rem;
    margin: auto;
}
.bi-brightness-high-fill{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_request{
    width: 15%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.md_bb_bl_bd_request_button{
    width: 70%;
    height: 4rem;
    border-radius: 10px;
    background-color: rgba(176, 170, 109, 0.8);
    color: white;
    font-size: 20px;
    cursor: pointer;

}

.open_modal_button{
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 88%;
    left: 88%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 100%;
    color: white;
    font-size: 5rem;
    line-height: 8rem;
}
/* 여기부터 모달 */
.modal_background{
    background : rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.small_modal{
    width: 40%;
    height: 83rem;
}

.sm_title{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(176, 170, 109, 1);
    border-radius: 15px;
}


.sm_tt_text{
    font-size: 2.6rem;
    color: white;
    margin-left: 5.5rem;
}
.sm_tt_category{
    width: 20%;
    height: 50%;
    border-radius: 15px;
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
}
.sm_tt_title_input{
    font-size: 2.4rem;
    width: 70%;
    height: 5rem;
    margin-left: 3rem;
    padding-left: 2rem;
    border-radius: 15px;
}
.sm_body{
    margin-top: 1.4rem;
    width: 100%;
    /* height: 50rem; */
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sm_bd_text{
    width: 80%;
    height: 7.5rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_bd_content{
    width: 91%;
    height: 30rem;
}
.sm_bd_ct_textarea{
    width: 93%;
    height: 93%;
    resize: none;
    outline: none;
    border-radius: 15px;
    font-size: 2rem;
    color: rgba(80, 80, 80, 1);
    padding: 3%;
}
.sm_bd_button{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sm_bd_submit_button{
    cursor: pointer;
    background-color: rgba(176, 170, 109, 0.8);
    width: 14%;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
}

/* request 모달 */
.sm_bd_target_text{
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: white;
    margin-left: 13rem;
    padding-top: 2.5rem;
}
.sm_bd_target_content{
    width: 86%;
    height: 15rem;
    background-color: white;
    border-radius: 15px;
    font-size: 2rem;
    color: #A4A457;
    border: 1px solid gray;
    padding: 2rem 0 0 3rem;
}
.my_worry_board{
    background-color: #F0F0E6;
    color: rgb(80, 80, 80);
    border: none;
}
/* cancle_request 모달 */
.cancle_request_small_modal{
    width: 20%;
    /* height: 83rem; */
    position: absolute;
}
.cr_sm_title{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 15px;
}
.cr_sm_body{
    margin-top: 1.4rem;
    width: 100%;
    /* height: 50rem; */
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cr_sm_tt_text{
    font-size: 2.6rem;
    color: white;
    margin-left: 5.5rem;
}
.cr_sm_bd_button{
    width: 100%;
    /* height: 10rem; */
    display: flex;
    justify-content: space-c;
    align-items: center;
    margin-bottom: 1.5rem;
}
.cr_sm_bd_yes_button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    width: 15%;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}
.cr_sm_bd_no_button{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    width: 15%;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}

@media (max-width: 1750px) {
    .my_worry_board  {
        font-size: 17px;
    }
    .md_bb_bl_bd_desc_image_icon{
        width: 40px;
        height: 30px;
    }
}

@media (max-width: 1530px) {
    .mc_bt_cb_category   {
        font-size: 2.4rem;
    }
    .md_bb_bl_bd_desc_image_icon{
        width: 40px;
        height: 30px;
    }
    .md_bb_bl_bd_request_button {
        width: 90%;
    }
    .mc_bt_title_text {
        font-size: 30px;
    }
}


@media (max-width: 1380px) {
    .mc_board_title, .mc_board_body   {
        width: 60%;
    }
    .main_container {
        left: 29%;
    }
    .sm_bd_text {
        font-size: 18px;
    }

}

@media (max-width: 980px) {
    .mc_bt_cb_category   {
        font-size: 2.3rem;
    }
}


@media (max-width: 950px) {
    .mc_bt_cb_category   {
        font-size: 2.3rem;
    }
    .drawer_wrapper{
        display: none;
        background: rgb(235 233 215 / 100%);
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-bottom: 0px;
        height: 113px;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .main_container{
        align-items: center;
        position: unset;
        left: unset;
        top: unset;
    }
    .mc_board_title,.mc_board_body{
        width: 99%;
    }
    .small_modal {
        width: 70%;
    }
    .sm_bd_text {
        font-size: 22px;
    }
    .open_modal_button{
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
    }
}

@media (max-width: 650px) {
    .mc_bt_title_text    {
        font-size: 27px;
    }
    .mc_bt_cb_category {
        font-size: 2rem;
    }
    .md_bb_bl_bd_request_button {
        width: 80%;
    }
    .my_worry_board{
        font-size: 14px;
    }
    .open_modal_button{
        left: 80%;
    }

}

@media (max-width: 480px) {
    .mc_bt_title_text    {
        font-size: 24px;
    }
    .mc_bt_cb_category {
        font-size: 1.7rem;
    }
    .md_bb_bl_bd_request_button {
        width: 90%;
    }
    .my_worry_board{
        font-size: 13px;
    }
    .md_bb_bl_bd_desc_edit_delete{
        width: 44%;
    }
}

@media (max-width: 450px) {
    .main_container{
        margin-top: 0px;
    }
    .mc_bt_cb_category{
        max-width: 20px;
    }
    .md_bb_bl_bd_desc_image_icon {
        width: 30px;
        height: 20px;
    }
    .md_bb_bl_bd_request {
        margin-bottom: -20px;
        width: 25%;
        margin-right: 4px;
    }
    .md_bb_bl_bd_desc_ed_delete{
        margin-left: 10px;
    }
    .md_bb_bl_bd_desc_create_date {
        margin-left: 1rem;
    }
    .md_bb_bl_bd_desc_edit_delete {
        width: 65%;
    }
    .md_bb_bl_bd_hidden_name{
        font-size: 2.05rem;    
    }
}


@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
    .nc_profile {
        width: 40px;
        height: 40px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 480px) {
    .nc_profile {
        width: 40px;
        height: 40px;
        margin-left: 1px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 30px;

    }

}

@media (max-width: 780px) {
    body {
        background: #F0F0E6
    }
}

@media (max-height: 896px) {
    .open_modal_button {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        top: 90%;
    }
    .small_modal {
        height: 59rem;
    }
    .sm_bd_text {
        font-size: 19px;
    }
    .sm_tt_category{
        width: 20%;
        font-size: 1.5rem;
    }
    .sm_bd_submit_button {
        width: 20%;
        height: 4rem;
    }
    .sm_tt_text{
        font-size: 2.3rem;

    }
    #drawer{
        top: 129px;
    }
    .small_modal{
        width: 99%;
    }

}