html{
    font-size: 62.5%;
}
body{
    margin: 0;   
    width: 100%;
    height: 100vh;
    background: rgb(235 233 215 / 80%)
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    font-size: 1vw;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}
.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height:80px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}
.open_drawer {
    display: none;
    font-size: 20px;
}
.drawer_text{
    padding: 7% 0px;
    font-size: 1.3vw;
    margin: 0.5px 0;
    border-radius: 0.8em;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -300px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    position: fixed;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    z-index: 5;
    display: flex;
    position: fixed;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    flex-direction: column;
}
.drawer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}
#cur_drawer_text{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
#cur_drawer_text i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}


.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.my_letter_link{
    text-decoration-line: none;
}
.fake_input{
    display: none;
}
.nc_sb_modal {
    transform: translateY(2);
    opacity: 1;
    transition: all 0.s;
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
/* 메인시작 */
.main_container{
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}





/* 익명게시판 타이틀 */
.mc_board_title{
    width: 55%;
    height: 10rem;
    border: 1px solid gray;
    border-radius: 0.8em;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
}
.mc_bt_title_text{
    font-size: 1.7vw;
    width: 22%;
    color: white;
    margin-left: 6%;
    cursor: pointer;
}
/* 익명게시판 몸체 */
.mc_board_body{
    width: 55%;
    /* height: 80rem; */
    margin-top: 1vh;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2CA9B;
    margin-bottom: 8rem;
    border: 1px solid gray;
}
.mc_bb_board_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.page_number{
    margin: 0 0.6rem 0 0.6rem;
    cursor: pointer;
}
.page_num_button:hover{
    color: whitesmoke;
}
.page_num_button{
    background-color: #E2CA9B;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.cur_page{
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    margin-bottom: 1vh;
    width: 100%;
    border-radius: 0.8em;
    background-color: white;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 4.65rem;
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    align-items: center;

}
.md_bb_bl_bd_desc_image_icon{
    width:50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/images/mongle.png");
    border-radius: 50%;
}
.md_bb_bl_bd_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_bl_bd_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 15.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 15%;
    height: 80%;
    margin-right: 10%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_edit{
    max-width: 35%;
    margin-right: 2.5rem;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    max-width: 35%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    cursor: pointer;
    font-size: 2.7rem;
    margin-right: 1.5rem;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 3rem;
    width: 10%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2.7rem;
    margin-right: 1.5rem;
}
.bi-brightness-high-fill{
    font-size: 2.7rem;
    margin-right: 1.5rem;
    color: #FEAA4B;
}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 3rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_modal_button{
    width: 8vh;
    height: 8vh;
    position: fixed;
    top: 88%;
    left: 88%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 100%;
    color: white;
    font-size: 5rem;
    line-height: 8vh;
}
/* 여기부터 모달 */
.modal_background{
    background : rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.small_modal{
    max-width: 1260px;
    width: 60%;
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 170, 109, 1);
    border-radius: 15px;
}
.sm_tt_text{
    font-size: 2.6rem;
    color: white;
}
.sm_tt_title_input{
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    font-size: 2.4rem;
    width: 70%;
    height: 4rem;
    padding: 10px;
    margin-left: 30px;
}

.close_button_div {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
}
.x_button{
    width: 100%;
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    color: white;
}
.sm_body{
    margin-top: 2%;
    width: 100%;
    height: 85%;
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sm_bd_text{
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reqort_empty_box{
    width: 77%;
}
.report_close_button{
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-left: 250px;
}
.sm_bd_content{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
}
.sm_bd_ct_textarea{
    outline: none;
    width: 93%;
    height: 100%;
    resize: none;
    border-radius: 15px;
    font-size: 2rem;
    color: rgba(80, 80, 80, 1);
    padding: 1%;
}
.sm_bd_button{
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_bd_submit_button{
    margin-top: 2vh;
    border: none;
    cursor: pointer;
    background-color: rgba(176, 170, 109, 0.8);
    width: 10%;
    height: 3vh;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}

.report_btn{
    border: none;
    font-size: 14px;
    border-radius: 5px;
    width: 70%;
    height: 3vh;
    cursor: pointer;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(176, 170, 109, 0.3);
}
.mc_bt_title_empty_box{
    width: 49%;
}
.mc_by_title_link{
    width: 23%;
    text-decoration: none;
}
.mc_bt_my_board_button{
    font-size: 1.3vw;
    display: flex;
    border-radius: 0.4em;
    width: 69%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    color: white;
}
#detail_comment_icon {
    font-size: 30px;
}


@media (max-width: 950px) {
    *{
        font-size: 2.3vw!important;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
        align-items: baseline !important;
    }
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .main_container{
        width: 99%;
        margin-left: 0px;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }

    .mc_board_body{
        width: 99%;
    }

    .nc_sb_modal {
        height: 113px;
    }
    .mc_board_title{
        justify-content: center;
        width: 99%;
    }
    .mc_bt_title_text{
        margin-left: 0px;
    }
    .sm_bd_submit_button {
        width: 13%;
    }
    .mc_by_title_link{
        width: 21%;
    }
    .mc_bt_title_empty_box{
        width: 36%;
    }
    .nc_sb_nav{
        margin-top: 0 !important;
        margin-right: 40px !important;
    }
    .nc_mongle, .nc_profile{
        
        width: 70px !important;
        height: 70px !important;
    }

    .md_bb_bl_bd_middle{
        width: 55%;
    }
    .sm_tt_text{
        margin-left: 2rem;
        width: 16%;
    }
    .sm_tt_title_input{
        margin-left: 1rem;
    }
    .mc_bt_title_text{
        font-size: 3vw;
    }
    .mc_bt_my_board_button{
        font-size: 2.3vw;
    }
    .mc_board_title{
        height: 4rem;
    }
    .mc_bb_board_lists {
        width: 95%;
        margin-top: 2vh;
    }
    .md_bb_bl_bd_description {
        margin-left: 2vh;
        padding-top: 0px;
    }
    .md_bb_bl_bd_desc_edit_delete {
        width: 25%;
    }
    .md_bb_bl_bd_title{
        margin-top: 0px;
    }
    .sm_title {
        height: 6vh;
    }
    .sm_tt_title_input,.sm_bd_text {
        height: 2vh;
    }
    .sm_bd_submit_button {
        height: 4vh;
        margin-top: 1vh;
    }
    .sm_bd_button {
        height: 5%;
    }
    .bi-brightness-high,.bi-brightness-high-fill{
        margin-right: 0.5vh;
    }
    .open_modal_button {
        width: 5vh;
        height: 5vh;
        line-height: 5vh;
    }
    .report_btn {
        width: 55%;
        height: 3vh;
    }
    .bi-chat-dots{
        margin-right: 1vh;
    }

    
}

@media (max-width: 450px) {
    *{
        font-size: 14px !important;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .nav_container{
        height: 40px !important;
        margin-bottom: 30px;
    }
    .nc_sub_container{
        height: 40px !important;

    }
    #drawer{
        min-width: 0 !important;
        width: 45% !important;
    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nc_mongle, .nc_profile{
        
        width: 40px !important;
        height: 40px !important;
    }
    .sm_title{
        height: 7rem;
    }
    .sm_body{
        height: 30rem;
    }
    .sm_tt_title_input {
        height: 2rem;
    }
    .small_modal{
        width: 99%;
    }
    .md_bb_bl_bd_desc_image_icon {
        width: 30px;
        height: 25px;
    }
    .md_bb_bl_bd_ct_right {
        width: 30%;
    }
    .main_container {
        width: 96%;
        margin-left: .5rem;
        margin-top: 20px;
    }
    .mc_bt_title_text{
        margin-left: 2rem;
        width: 50%;
    }
    .mc_bt_title_empty_box{
        width: 3%;
    }
    .mc_by_title_link{
        width: 36%;
    }
    .md_bb_bl_bd_description{
        margin-left: 0.6rem;
    }
    .md_bb_bl_bd_desc_create_date{
        margin-left: 1rem;
    }
    .md_bb_bl_bd_middle{
        width: 50%;
        margin-left: 0;
    }
    .md_bb_bl_bd_desc_comment_icon{
        width: 13.5%;
    }
    .bi-brightness-high{
        margin-right: 0.5rem;
    }
    .md_bb_bl_bd_desc_edit_delete{
        width: 28%;
        margin-right: 4%;
        margin-left: 2%;
    }
    .md_bb_bl_bd_desc_ed_edit{
        margin-right: 0.5rem;
    }
    .sm_bd_content{
        height: 46vh;
        padding: 1%;
    }
    .sm_bd_submit_button{
        margin-top: 0;
    }
    .sm_bd_ct_textarea{
        height: 94%;
        padding: 2%;
    }
    .d_white_space{
        margin-top: -60px;
    }
    .mc_board_title{
        height: 4rem;
    }
    .mc_board_body{
        margin-bottom:1rem;
    }
    .mc_bb_board_lists{
        margin-top: 1.5rem;
    }
    .md_bb_bl_board{
        position: relative;
        height: 19vh;
    }
    .md_bb_bl_bd_description{
        top: -4%;
        position: absolute;
    }

    .md_bb_bl_bd_hidden_name{
        position: absolute;
    }

    .md_bb_bl_bd_desc_edit_delete{
        position: absolute;
        left: 70%;
        width: 20%;
        height: 2.5rem;

    }
    .md_bb_bl_bd_middle{
        position: absolute;
        left: 10%;
    }
    .md_bb_bl_bd_desc_comment_icon{
        position: absolute;
        left: 55%;
    }
    .md_bb_bl_bd_hidden_name{
        position: absolute;
        left: -2%;
    }
    .md_bb_bl_bd_desc_create_date{
        position: absolute;
        left: 30%;
    }
    .md_bb_bl_bd_ct_right{
        position: absolute;
        top: 70%;
        left: 77%;
    }
    .md_bb_bl_bd_ct_left{
        width: 75%;
        left: 9%;
        display: -webkit-box;
        position: absolute;
        margin-left: unset;
        text-overflow: ellipsis;
        word-break:break-all;
        word-wrap:break-word;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        top: 33%;
    
    }
    .md_bb_bl_bd_desc_ci_comment_count{
        position: absolute;
        top: -45%;
        left: 50%;
    }
    .md_bb_bl_bd_tt_text{
        top: 30%;
        position: absolute;
        left: -5%;
    }
    .mc_bt_my_board_button{
        height: 1.5rem;

    }
    .open_modal_button{
        left: 80%;
        top: 90%;

    }
    .sm_bd_submit_button {
        height: 2rem;
    }
    .sm_title{
        height: 9vh;
    }
    .sm_body{
        margin-top: 2%;
        width: 100%;
        height: 70%;
        background-color: #E2CA9B;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .sm_bd_text{
        width: 100%;
        height: 10%;
        font-size: 2.6rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sm_bd_button{
        margin-bottom: 1vh;
    }
    .mc_bb_page_number {
        padding: 0px;
        margin-bottom: 2vh;
    }
    .sm_title {
        height: 7vh;
    }
    .sm_tt_title_input{
        height: unset;
    }
    .report_btn{
        width: 100%;
    }
    .bi-chat-dots{
        margin-right: 2vh;
    }


}   



