html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background: #F0F0E6;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:100px;
    border-radius: 100%;
    width: 60px;
    height:60px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:100px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;

}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    font-size: 22px;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    margin-top: 20rem;
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 15%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
/* 메인시작 */
.main_container{
    width: 100%;   
    margin-top: 100px;
    margin-left: 180px;
    /* height: 110rem; */
    background-color: #F0F0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* 익명게시판 타이틀 */
.mc_board_title{
    width: 50%;
    height: 10rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    margin-left: 6.2rem;
    cursor: pointer;
}
/* 익명게시판 몸체 */
.mc_board_body{
    width: 50%;
    /* height: 80rem; */
    margin-top: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2CA9B;
    margin-bottom: 8rem;
    border: 1px solid gray;
}
.mc_bb_board_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.page_number{
    margin: 0 0.6rem 0 0.6rem;
    cursor: pointer;
}
.page_num_button:hover{
    color: whitesmoke;
}
.page_num_button{
    background-color: #E2CA9B;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.cur_page{
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    width: 100%;
    /* height: 10.5rem; */
    margin-bottom: 1.4rem;
    border-radius: 1.5rem;
    background-color: white;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 4.65rem;
    margin-left: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    align-items: center;

}
.md_bb_bl_bd_desc_image_icon{
    width:50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/mongle.jpeg");
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
.md_bb_bl_bd_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_bl_bd_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 600;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 12%;
    height: 80%;
    margin-right: 10%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_edit{
    max-width: 35%;
    margin-right: 2.5rem;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    max-width: 35%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2.7rem;
    margin-right: 1.5rem;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 3rem;
    width: 10%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2.7rem;
    margin-right: 1.5rem;
}
.bi-brightness-high-fill{
    font-size: 2.7rem;
    margin-right: 1.5rem;
    color: #FEAA4B;
}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 3rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_modal_button{
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 88%;
    left: 88%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: 100%;
    color: white;
    font-size: 5rem;
    line-height: 8rem;
}
/* 여기부터 모달 */
.modal_background{
    background : rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.small_modal{
    width: 50%;
    height: 83rem;
}
.sm_title{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(176, 170, 109, 1);
    border-radius: 15px;
}
.sm_tt_text{
    font-size: 2.6rem;
    color: white;
}
.sm_tt_title_input{
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    font-size: 2.4rem;
    width: 70%;
    height: 4rem;
    padding: 10px;
    margin-left: 30px;
}

.close_button_div {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
}
.x_button{
    width: 100%;
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.sm_body{
    margin-top: 1.4rem;
    width: 100%;
    height: 73rem;
    background-color: #E2CA9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sm_bd_text{
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: white;
    margin-left: 13rem;
    display: flex;
    align-items: center;
}
.reqort_empty_box{
    width: 77%;
}
.report_close_button{
    color: black;
    font-size: 40px;
    cursor: pointer;
}
.sm_bd_content{
    width: 91%;
    height: 54rem;
}
.sm_bd_ct_textarea{
    outline: none;
    width: 93%;
    height: 93%;
    resize: none;
    border-radius: 15px;
    font-size: 2rem;
    color: rgba(80, 80, 80, 1);
    padding: 3%;
}
.sm_bd_button{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_bd_submit_button{
    border: none;
    cursor: pointer;
    margin-top: 5rem;
    background-color: rgba(176, 170, 109, 0.8);
    width: 10%;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}

.report_btn{
    border: none;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    cursor: pointer;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(176, 170, 109, 0.3);
}


@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
    .nc_profile {
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }

}
@media (max-width: 480px) {
    .nc_profile {
        width: 40px;
        height: 40px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 15px;

    }

}
@media (max-width: 2100px) {
    .report_btn {
        width: 100%;
    }
}


@media (max-width: 2250px) {
    .main_container {
        margin-left: 150px;
        margin-top: 100px;
    }
}

@media (max-width: 1800px) {
    .main_container {
        margin-left: 120px;
    }
    .report_btn{    
        width: 83%;
    }
    .md_bb_bl_bd_desc_edit_delete{
        width: 15%;
    }
    .md_bb_bl_bd_desc_ed_edit{
        width: 40%;
    }
    .md_bb_bl_bd_desc_ed_delete{
        width: 40%;
    }
}

@media (max-width: 1550px) {
    .md_bb_bl_bd_desc_edit_delete {
        width: 21%;
    }
    .main_container {
        margin-left: 110px;
    }
    .md_bb_bl_bd_middle {
        width: 50%;
    }
    .md_bb_bl_bd_ct_rg_border {
        width: 75%;
    }

}


@media (max-width: 1250px) {
    .md_bb_bl_bd_desc_edit_delete {
        width: 23%;
    }
}


@media (max-width: 1040px) {

}

@media (max-width: 961px) {
    .sm_tt_title_input {
        width: 55%;
    }
    .md_bb_bl_bd_desc_edit_delete{
        width: 25%;
    }
}



@media (max-width: 950px) {
    .drawer_wrapper{
        display: none;
        background: rgb(235 233 215 / 100%);
    }
    .main_container{
        width: 100%;
        margin-left: 0px;
    }
    .nc_sb_modal{
        display: flex;
        height: 130px;
        left: 7%;
    }
    .mc_board_title{
        width: 99%;
    }
    .mc_board_body{
        width: 99%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-bottom: 0px;
        height: 113px;
    }
    .nc_sb_modal {
        height: 113px;
    }
    .mc_board_title{
        justify-content: center;
    }
    .mc_bt_title_text{
        margin-left: 0px;
    }
    .sm_bd_submit_button {
        width: 13%;
    }
}


@media (max-width: 730px) {
    .small_modal{
        width: 70%;
    }
    .sm_bd_submit_button {
        width: 15.3%;
    }
    .sm_tt_title_input {
        margin-left: 11px;
    }
}


@media (max-width: 730px) {
    .open_modal_button {
        left: 80%;
    }
    .md_bb_bl_bd_desc_comment_icon{
        width: 20.5%;
    }
    .md_bb_bl_bd_desc_image_icon {
        width: 40px;
        height: 30px;
        
    }
    .mc_bb_bl_bd_im_writer{
        font-size: 23px;
    }
    .md_bb_bl_bd_desc_edit_delete {
        width: 38%;
    }
    .md_bb_bl_bd_desc_create_date {
        margin-left: 15px;
    }
    .open_modal_button{
        left: 85%;
    }

}

@media (max-width: 570px) {
    .md_bb_bl_bd_description  {
        width: 95%;
    }
}

@media (max-width: 570px) {
    .open_modal_button {
        left: 75%;
    }

}
@media (max-width: 474px) {
    .mc_bb_bl_bd_im_writer{
        font-size: 20px;
    }
    .md_bb_bl_bd_desc_ed_delete, .md_bb_bl_bd_desc_ed_edit {
        max-width: 38%;
    }
}
@media (max-width: 450px) {
    .sm_title{
        height: 7rem;
    }
    .sm_tt_title_input {
        height: 2rem;
    }
    .small_modal{
        width: 99%;
    }
    .main_container {
        margin-top: 20px;
    }
    .md_bb_bl_bd_desc_image_icon {
        width: 30px;
        height: 25px;
    }
    .md_bb_bl_bd_ct_right {
        width: 30%;
    }

}




@media (max-width: 440px) {
    .md_bb_bl_bd_description{
        width: 93%;
    }
    .md_bb_bl_bd_description{
        margin-left: 23px;
    }
    .md_bb_bl_bd_desc_image_icon{
        width: 30px;
        height: 20px;
    }
    .mc_bb_bl_bd_im_writer{
        font-size: 13px;
    }
    .md_bb_bl_bd_desc_create_date{
        font-size: 15px;
        margin-top: -2px;
    }
    .bi-chat-dots, .bi-brightness-high,.md_bb_bl_bd_desc_ci_comment_count, .md_bb_bl_bd_ct_right_sun_count,.md_bb_bl_bd_desc_edit_delete{
        font-size: 15px;
    }
    .open_modal_button {
        left: 70%;
    }
    .mc_bt_title_text{
        font-size: 28px;
    }
    .md_bb_bl_bd_ct_rg_border{
        width: 85%;
        margin-right: 15px;
    }
}
@media (max-height: 896px) {
    #drawer{
        top: 14%;
    }
    .main_container{
        margin-top: 20px;
    }
    .open_modal_button {
        width: 5rem;
        height: 5rem;
        top: 92%;
        left: 80%;
        line-height: 5rem;
    }
    .small_modal{
        height: 50rem;
    }
    .sm_body {
        height: 40rem;
    }
    .sm_bd_submit_button{
        height: 37px;
        margin-top: 0px;
    }
    .sm_bd_text{
        font-size: 2.3rem;
    }
    .mc_board_title{
        height: 6rem;
    }
}

@media (max-height: 844px) {
    .open_modal_button {
        width: 5rem;
        height: 5rem;
        top: 92%;
        left: 80%;
        line-height: 5rem;
    }
}
@media (max-height: 667px) {
    #drawer{
        top: 35%;
    }
}