html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background: #F0F0E6;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:100px;
    border-radius: 100%;
    width: 60px;
    height:60px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:100px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}
.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: 5px;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;

}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    display: flex;
}
.d_white_space{
    margin-top: -500px;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    font-size: 22px;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}

#drawer {
    margin-top: 20rem;
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 15%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.nc_sb_modal {
    display: none;
    font-size: 25px;
    left: 8%;
    cursor: pointer;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 142px;
}


/* 메인시작 */
.main_container{
    width: 100%;
    left: 7.5%;
    margin-left: 150px;
    /* height: 110rem; */
    background-color: #F0F0E6;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 익명게시판 타이틀 */
.mc_board_title{
    width: 50%;
    height: 10rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    display: flex;
    background-color: rgba(176, 170, 109, 0.8);
    align-items: center;
}
.mc_bt_title_text{
    font-size: 35px;
    color: white;
    margin-left: 6.2rem;
    cursor: pointer;
}

/* 게시판 몸체 */
.mc_board_body{
    border: 1px solid gray;
    width: 50%;
    /* height: 80rem; */
    margin-top: 1.4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2CA9B;
    margin-bottom: 8rem;
}
.mc_bb_board_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;

}
.page_number{
    margin-right: 1.2rem;
    cursor: pointer;
}
.cur_page{
    color: blue;
    font-weight: 600;
    cursor: pointer;
}
.md_bb_bl_board{
    width: 100%;
    /* height: 10.5rem; */
    margin-bottom: 0.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: white;
}
/* 익명, 날짜, 코멘트 */
.md_bb_bl_bd_description{
    width: 100%;
    height: 4.65rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}
.md_bb_bl_bd_desc_image_icon{
    width: 50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/mongle.jpeg");
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
.md_bb_bl_bd_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.md_bb_bl_bd_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.md_bb_bl_bd_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.md_bb_bl_bd_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_desc_edit_delete{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_bb_bl_bd_desc_ed_edit{
    width: 30%;
    color: #8b8862;
    cursor: pointer;
}
.md_bb_bl_bd_desc_ed_delete{
    cursor: pointer;
    width: 30%;
    color : #8b8862;
}
.md_bb_bl_bd_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2rem;
    margin: auto;
}
.md_bb_bl_bd_desc_ci_comment_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.md_bb_bl_bd_title{
    margin-top: 2.5rem;
    font-weight: 600;
    margin-left: 3%;
}
.md_bb_bl_bd_tt_text{
    margin-left: 3.6rem;
    font-size: 2.2rem;
    color: #8b8862;
}
.md_bb_bl_bd_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.md_bb_bl_bd_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 3.6rem;
}
.md_bb_bl_bd_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.md_bb_bl_bd_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.md_bb_bl_bd_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2rem;
    margin: auto;
}
.bi-brightness-high-fill{
    font-size: 2rem;
    margin: auto;
    color: #FEAA4B;

}
.md_bb_bl_bd_ct_right_sun_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 댓글의 수정창 */
.edit_comment{
    width: 90.9%;
    height: 7rem;
    background-color: white;
    display: none;
    border-radius: 1.5rem;
    margin: 0px auto 1rem auto;
}


/* 댓글 작성하는 창 */

.post_comment{
    width: 90.9%;
    height: 7rem;
    background-color: white;
    display: flex;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.pc_comment_icon{
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-chat-dots-fill{
    margin-left: 10px;
    font-size: 2.5rem;
}
.pc_input_comment{
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc_ic_input{
    border: none;
    width: 95%;
    height: 50%;
    margin-right: 10px;
    border-radius: 1.5rem;
    background-color: #F0F0E6;
    font-size: 2.4rem;
    color: #8b8862;
}
.pc_comment_button_box{
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc_cbb_button{
    border: none;
    width: 300px;
    height: 50%;
    margin-right: 10px;
    border-radius: 1.5rem;
    cursor: pointer;
}

/* 댓글이 보여지는 곳 */
.mc_bb_comment_lists{  
    width: 90.9%;
    /* height: 70rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}
.mc_bb_page_number{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.page_number{
    margin-right: 1.2rem;
    cursor: pointer;
}
.cur_page{
    color: clue;
    font-weight: 600;
    cursor: pointer;
}
.mc_bb_cl_comment{
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 1.5rem;
    background-color: white;
}
/* 익명, 날짜, 코멘트 */
.mc_bb_cl_cm_description{
    align-items: center;
    width: 100%;
    height: 4.65rem;
    margin-left: 7.2rem;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;

}
.mc_bb_cl_cm_desc_image_icon{
    width: 50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("/mongle.jpeg");
    border-radius: 50%;
    border: 3px solid yellowgreen;
}
.mc_bb_cl_cm_middle{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}
.mc_bb_cl_cm_im_writer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
}
.mc_bb_cl_cm_hidden_name{
    font-size: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
}
.mc_bb_cl_cm_desc_create_date{
    font-size: 1.8rem;
    color: #E2CA9B;
    margin-left: 3rem;
}
.mc_bb_cl_cm_desc_comment_icon{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mc_bb_cl_cm_desc_edit_delete{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc_bb_cl_cm_desc_ed_edit{
    width: 30%;
    color: #8b8862;
    cursor: pointer;
}
.mc_bb_cl_cm_desc_ed_delete{
    cursor: pointer;
    width: 30%;
    color : #8b8862;
}
.mc_bb_cl_cm_desc_ci_comment_icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-chat-dots{
    font-size: 2rem;
    margin: auto;
}
.mc_bb_cl_cm_desc_ci_comment_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.mc_bb_cl_cm_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc_bb_cl_cm_ct_left{
    width: 80%;
    font-size: 2rem;
    color: #A4A457;
    margin-left: 7.2rem;
    margin-top: 2.5rem;
}
.mc_bb_cl_cm_ct_right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.mc_bb_cl_cm_ct_rg_border{
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mc_bb_cl_cm_ct_right_sun_icon{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #A4A457;
}
.bi-brightness-high{
    font-size: 2rem;
    margin: auto;
}
.bi-brightness-high-fill{
    font-size: 2rem;
    margin: auto;
}
.mc_bb_cl_cm_ct_right_sun_count{
    font-size: 2.4rem;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1700px) {
    .md_bb_bl_bd_middle  {
        width: 50%;
    }
    .md_bb_bl_bd_desc_edit_delete {
        width: 44%;
    }
}

@media (max-width: 1300px) {
    .mc_bb_cl_cm_description   {
        margin-left: 3.2rem;
    }
    .mc_bb_cl_cm_desc_image_icon {
        width: 40px;
        height: 30px;
    }
    .mc_bb_cl_cm_im_writer {
        font-size: 1.7rem;
    }
    .md_bb_bl_bd_desc_comment_icon  {
        width: 19.5%;
    }

}

@media (max-width: 950px) {
    .drawer_wrapper{
        display: none;
        background: rgb(235 233 215 / 100%);
    }
    .main_container{
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .nc_sb_modal{
        display: flex;
        left: 7%;
    }
    .nc_sb_nav {
        margin-right: 30px;
        margin-bottom: 0px;
        height: 113px;
    }
    .main_container{
        position: unset;
    }
    .mc_board_body,.mc_board_title{
        width: 99%;
    }

}

@media (max-width: 550px) {
    .pc_ic_input{
        width: 90%;
    }
    .pc_comment_button_box{
        height: 100%;
        width: 12%;
    }
    .pc_cbb_button {
        height: 50%;
    }
    .pc_comment_icon {
        margin-left: 10px;
    }
    .md_bb_bl_bd_desc_image_icon{
        width: 40px;
        height: 30px;
    }
    .main_container{
        margin-top: 35px;
    }
}

@media (max-width: 450px) {
    .md_bb_bl_bd_desc_image_icon {
        width: 30px;
        height: 20px;
    }
    .md_bb_bl_bd_description {
        margin-left: 1.6rem;
    }
    .bi-chat-dots,.bi-brightness-high-fill {
        font-size: 1.5rem;
    }
    .md_bb_bl_bd_desc_edit_delete {
        font-size: 15px;
    }
    .md_bb_bl_bd_tt_text {
        font-size: 2rem;
    }
    .md_bb_bl_bd_ct_left{
        font-size: 1.8rem;
    }
    .mc_bt_title_text{
        font-size: 25px;
    }

}


@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
    .pc_cbb_button {
        margin-right: 10px;
        width: 300px;
        height: 56%;
    }
    .pc_ic_input{
        width: 85%;
    }
    .bi-chat-dots-fill{
        margin-left: 10px;
    }
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
    .nc_profile {
        width: 70px;
        height: 70px;
    }
    .nc_mongle {
        width: 70px;
        height: 70px;
    }
    
}
@media (max-width: 480px) {
    .nc_profile {
        width: 50px;
        height: 50px;
        margin-left: 1px;
    }
    .nc_mongle {
        width: 50px;
        height: 50px;

    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 30px;

    }

}
@media (max-height: 896px) {
    #drawer{
        top: 14%;
    }
    .md_bb_bl_bd_middle {
        width: 65%;
    }

    
}

@media (max-height: 844px) {
    .open_modal_button {
        width: 5rem;
        height: 5rem;
        top: 92%;
        left: 80%;
        line-height: 5rem;
    }
}
@media (max-height: 667px) {
    #drawer{
        top: 35%;
    }
    .md_bb_bl_bd_desc_create_date {
        margin-left: 2rem;
    }
}