body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}

.nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
}

.nc_sub_container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between
}

.nc_sb_modal {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}

.nc_sb_nav p {
    font-size: 23px;
}

.nc_mongle {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
}

@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }

    .nc_sb_modal {
        margin-left: 30px;
    }

    .nc_profile {
        width: 40px;
        height: 40px;
    }

    .nc_mongle {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .nc_profile {
        width: 40px;
        height: 40px;
    }

    .nc_mongle {
        width: 40px;
        height: 40px;
    }

    .nc_sb_nav p {
        font-size: 20px;
    }

    .nc_sb_modal {
        margin-left: 30px;

    }

}

@media (max-width: 780px) {
    body {
        background: #F0F0E6
    }
}

.main_profile_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mpc_card {
    width: 50%;
    height: 80%;
}

.mpc_c_header {
    background-color: rgba(176, 170, 109, 0.8);
    height: 8%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
}

.mpc_c_body {
    background-color: #E2CA9B;
    height: 80%;
    border-radius: 15px;
}

.mpc_c_b_upper {
    padding: 60px;
    display: flex;
    height: 45%;
}

.mpc_c_b_u_profile_img {
    width: 30%;
    border-radius: 15px;
}

.mpc_c_b_u_right_content_box {
    width: 70%;
    font-size: 23px;
    justify-content: center;
}

.mpc_c_b_u_rcb_name {
    display: flex;
    justify-content: space-around;
}

.mpc_c_b_u_rcb_category_box {
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto auto auto;
}

.category_style {
    background-color: #F0F0E6;
    padding: 10px 15px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.category_style:hover{
    cursor: pointer;
}
.category_plus_btn{
    border-radius: 100%;
    background-color: #F0F0E6;
    color : black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
}
.category_plus_btn:hover{
    cursor: pointer;
}
.mpc_c_body_down {
    padding: 0px 60px 60px 60px;
    font-size: 23px;
}
.drawer_wrapper{
    display: none;
}
.drawer_wrapper_after{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
}
#drawer {
    display: flex;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #F0F0E6;
    animation-name: slidein-left;
    animation-duration: 800ms;
    font-size: 20px;
    padding: 20px 0;
    flex-direction: column;
}

@keyframes slidein-left {
    from {
        transform: translateX(-25rem);
    }

    to {
        transform: translateX(0);
    }
}
.drawer_text{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    color: rgba(176, 170, 109, 0.8);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(176, 170, 109, 0.8);
}
.mpc_c_b_u_rcb_edit_button{
    position: relative;
    left: 90%;
    color: #F0F0E6;
    top: -10%;
    font-size: 20px;
}
.mpc_c_b_u_rcb_edit_button:hover{
    cursor: pointer;
}
