* {
    font-family: 'Gamja Flower', cursive;
}
body {
    margin: 0;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    background-color: #F0F0E6;
    width: 54%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc_box{
    background-color: #E2CA9B;
    width: 54%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.login{
    height: 40vh;
}

.mb_title{
    color: #F0F0E6;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.mb_sub{
    width: 72.5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px
}
.form-control{
    background-color: #F0F0E6;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
}

input::placeholder{
    font-size: 0.9rem;
    text-align: center;
    color: black;
}


.mb_sub_4{
    margin-top: 10%;
}


.btn{
    background-color: #9D9D58;
    color: #F0F0E6;
    display: inline-block;
    height: 7vh;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    white-space : nowrap;
}

@media (max-width: 950px){
    .main_container{
        background-color: #F0F0E6;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mc_box{
        background-color: #E2CA9B;
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

}

@media (max-width: 450px){
    .main_container{
        background-color: #F0F0E6;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mc_box{
        background-color: #E2CA9B;
        width: 80%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .mb_title{
        color: #F0F0E6;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    input::placeholder{
        font-size: 0.7rem;
        text-align: center;
        color: black;
    }

    .btn{
        background-color: #9D9D58;
        color: #F0F0E6;
        display: inline-block;
        height: 7vh;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.7rem;
        white-space : nowrap;
    }

}