body{
    margin: 0;
    background-color: #F0F0E6;
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: F0F0E6;
}

.nc_sub_container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
}
.nc_sb_modal {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;

}

.nc_mongle {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.nc_profile {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.mb_sb_rb_text_box{
    justify-content: end;
    margin-right: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.mb_sb_rb_text_box button {
    cursor: pointer;
    font-size: 13px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.mb_sb_rb_text_box button:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.main_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 1100px;
}
.mc_sub_container{
    width: 1500px;
    margin-right: 200px;
}

.mc_sb_letter_bar{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(176, 170, 109, 0.8)    
}
.mc_sb_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgba(226, 202, 155, 1);
    border-radius: 20px;
    width: 100%;
    height: 1000px;
}

.mc_sb_letter_bar span{ 
    margin-left: 100px;
    font-size: 40px;
    color: white;
}
.mc_sb_letter_bar p{
    cursor: pointer;
    margin-right: 50px;
    font-size: 25px;
    color: white;
}

.mc_sb_catebox{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1500px;
    margin-right: -50px;
    height: 800px;
    flex-wrap: wrap;
}
.mb_sb_catebox2{
    display: flex;
    margin-left: -50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1500px;
    height: 800px;
    flex-wrap: wrap;
}
.mb_sb_main_container{
    margin-top:-105px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
}
.mb_sb_main_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: relative;
}
#review_rank{
    margin-top: -35px;
    max-height: 700px;
    overflow-y: auto;
}
#review_rank::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: relative;
}
.mc_sb_reviewbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-right: 50px;
    margin-left: -30px;

}

.mc_sb_rankbox{
    margin-left: 50px;
    position: relative;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
    max-height: 20%;
    left: -8%;
    border-radius: 20px;
}
.mc_sb_rb_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 202, 155, 1);
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 20px;
    margin-right: 100px;
    /* height: 50px; */
    /* background-color: white; */
}

.mb_sb_cb_title{
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 5%;
}
.mb_sb_cb_title p{
    position: relative;
    top: -70%;
    font-size: 30px;    
}
.mb_sb_rb_title p{
    font-size: 30px;    
}

.mb_sb_rb_title{
    position: relative;
    top: -45px;
    width: 100%;
    height: 5%;
}
.mb_sb_rb_textbox{
    width: 100%;
    height: 50px;
}

.mb_sb_cate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    margin-bottom: -30px;
}
.mb_sb_rk_title{
    background-color: rgba(226, 202, 155, 1);
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
    height: 5%;
}
.mb_sb_rk_title span{
    font-size: 25px;
    color:rgba(80, 80, 80, 1);
}
.mb_sb_cb_item {
    cursor: pointer;
    border-radius: 20px;
    width: 450px;
    background-color: rgba(240, 240, 230, 1)
}

/* .mb_sb_cb_item_title{
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 35%;
    background-color: rgba(240, 240, 230, 1)
} */
.mb_sb_cb_item_title p{
    float: right;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 18px
}


/* .mb_sb_cb_item_line {
    position: relative;
    width: 90%;
    border: 1px dashed gray;
    margin-top: 5px;
    left: 5%;
    
} */

.mb_sb_cb_item_text{
    text-overflow: ellipsis;
    width: 90%;
    height: 110px;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 3%;
}

.mb_sb_rb_rank {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(240, 240, 230, 1);
    width: 260px;
    height: 160px;
    padding: 11px;
    padding-top: 0%;
    overflow-y: auto;
    margin-bottom: 20px;

}
.mb_sb_rb_rank::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: relative;
}

.mb_sb_rb_textbox p{
    margin-top: 3px;
    font-size: 18px;
}
.mb_sb_rb_all{
    position: relative;
    left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 10%;
}
.mb_sb_rb_text{
    font-size: 25px;
}
.mb_sb_rb_live{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(240, 240, 230, 1);
    width: 250px;
    height: 30%;
    padding: 11px;
    padding-top: 0%;
    margin-bottom: 15px;
    overflow-y: auto;
}

.mb_sb_cb_title p {
    font-size: 30px;
    margin-bottom: 10px;
}

.mb_sb_rk_user {
    display: flex;
    color: rgba(80, 80, 80, 1);
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    min-width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 0px 10px 30px;
}

.mb_sb_rk_user:hover {
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.mb_sb_rk_user img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.mb_sb_rb_iconbox{
    position: relative;
    display: flex;
    left: 87.2%;
    width: 14%;
    top: 3%;
    height: 25px;
    margin-bottom: 5px;
}

.bi {
    cursor: pointer;
    margin-top: 3px;
    font-size: 18px;
}
.mb_sb_rb_count{
    font-size: 20px;
    display: flex;
    width: 20px;
    margin-left: 3px;

}

.mb_sb_rb_livebox{
    position: relative;
    display: flex;
    left: 87.2%;
    width: 14%;
    top: 3%;
    height: 25px;
    border: solid 1px #B0AA6D;
}
.mb_sb_rb_live::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: relative;
}

.mb_sb_rb_livetext{
    margin-top: -10px;
    font-size: 18px;
}
.worry_board_link{
    text-decoration-line: none;
    color: black;
}
.letter_link {
    text-decoration-line: none;
}
.worry_link{
    text-decoration-line: none;
    color: black;
}

.modal_box{
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 75px;
    top: 80px;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    background-color: #A4A457;
}
.mb_myletter{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.mb_write{
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;

}
.mb_category{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_worry_board{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.mb_logout{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;

}

.mb_line{
    margin-top: 3px;
    width: 150px;
    height: 0.5px;
    background-color: white;
}

.drawer_text{
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    margin-left: 5px;
    /* margin-bottom: 30px; */
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}

.drawer_wrapper_after{
    position: fixed;
    width: 100%;
    display: flex;
}
.d_white_space{
    margin-top: 170px;
}

#drawer {
    top: -150px;
    z-index: 5;
    display: flex;
    height: 100vh;
    position: relative;
    width: 300px;
    /* background:rgba(240, 240, 240, 1); */
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.drawer_text:hover i{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}
.my_letter_link{
    text-decoration-line: none;
}


@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
        .nc_profile {
        width: 40px;
        height: 40px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 780px) {
    .nc_sb_nav {
        margin-bottom: 30px;
    }
}
@media (max-width: 560px) {
    .nc_sb_nav {
        margin-right: 10px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
}
@media (max-width: 480px) {
    .nc_profile {
        width: 40px;
        height: 40px;
    }
    .nc_mongle {
        width: 40px;
        height: 40px;
    }
    .nc_sb_nav p {
        font-size: 20px;
    }
    .nc_sb_modal {
        margin-left: 30px;
    }
}

@media (max-width: 780px) {
    body {
        background: #F0F0E6
    }
}






@media (max-width: 2350px) {
    .mb_sb_cb_item_title p {
        font-size: 15px;
        margin-top: 14px;
    }
    .mb_sb_cb_item_title span{
        font-size: 18px;
        margin-top: 14px;
    }
}

@media (max-width: 2350px) {
    .mb_sb_cb_item_text  {
        font-size: 18px;
        margin-left: 20px;
        height: 48px;
    }
}

@media (max-width: 1400px) {
    .mc_sub_container   {
        width: 700px;
    }
}



@media (max-width: 1600px) {
    .mb_sb_rb_live  {
        width: 230px;
        height: 115px;
    }
    .mb_sb_rb_text {
        font-size: 24px;
        width: 200px;
        margin-bottom: 15px;
    }
    .mb_sb_cb_item_text{
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 1400px) {
    .mc_sb_rankbox  {
        display: none;
    }
    .mc_sb_catebox{
        width: 50%;
    }
    .mc_sb_reviewbox{
        width: 38%;
    }
}



@media (max-width: 900px) {
    .mc_sb_letter_bar span {
        font-size: 28px;
    }
    .mc_sb_letter_bar p {
        font-size: 18px;
    }
    .mb_sb_cb_item_text{
        -webkit-line-clamp: 6;
    }
}

@media (max-width: 750px) {
    .mc_sub_container {
        width: 500px;
    }
    .mc_sb_letter_bar span {
        font-size: 21px;
    }
    .mc_sb_letter_bar p {
        font-size: 16px;
    }
    .mb_sb_cb_item_text{
        -webkit-line-clamp: 5;
    }
    .mb_sb_cb_item_text {
        height: 115px;
    }
    .mc_sb_reviewbox{
        display: none;
    }
    .mc_sb_catebox{
        width: 70%;
    }
}