body,html{
    margin: 0;
    overflow: hidden;
    background: rgb(235 233 215 / 80%);
}

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');


* {
    font-family: 'Gamja Flower', cursive;
    ;
}
.nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nc_sub_container{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.nc_sb_nav {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 80px;
    margin-top: 40px;
}
.nc_sb_nav p{
    font-size: 23px;
}
.nc_a_tag{
    text-decoration: none !important;
    color: black !important;
}
.nc_mongle {
    background-image: url("https://user-images.githubusercontent.com/55477835/181283419-20705c71-a20a-46ab-a30e-bb4edece1670.png");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 50px;
    height:50px;
    margin-left: 10px;
    cursor: pointer;
}

.nc_profile {
    background-image: url("");
    background-position: center;
    background-size:cover;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.open_drawer {
    display: none;
    font-size: 20px;
}
.open_drawer:hover {
    cursor: pointer;
}
.drawer_text{
    font-size: 22px;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.drawer_text:hover{
    cursor: pointer;
}

.drawer_icon{
    color: rgba(80, 80, 80, 1);
}
.mpc_c_bd_edit_button{
    color: #F0F0E6;
    font-size: 18px;
}
.mpc_c_bd_edit_button:hover{
    cursor: pointer;
}
.drawer_wrapper{
    display: flex;
    position: fixed;
    min-width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 12%;
    flex-direction: column;
    background: rgb(235 233 215 / 80%);
}
.d_white_space{
    margin-top: -300px;
}
#drawer {
    z-index: 5;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 12%;
    min-width: 220px;
    left: 0;
    top: 0;
    font-size: 22px;
    flex-direction: column;
}
.drawer_text:hover{
    color: #F0F0E6;
    background-color: rgba(80, 80, 80, 1);
}

.drawer_wrapper_after{
    position: fixed;
    display: flex !important;
}
.my_letter_link{
    text-decoration-line: none;
}

/* 편지를 보여주는 모달 */
@-webkit-keyframes letter_animate {
    from {
        font-size: 0px !important;
        width: 400px;
        height: 0;
        left: 10rem;

    }
    fo{
        width: 63%;
        left: 0;
    }
} 
@keyframes letter_animate {
    from {
        font-size: 0px !important;
        width: 400px;
        height: 0;
        width: 0;
        left: 10rem;
    }
    to{
        left: 0;
        top: 0;
    }
}
.letter_animate{
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-name: letter_animate;
    animation-name: letter_animate;
}
/* 삭제여부를 물어보는 모달 */
.delete_check_modal_wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}
.delete_check_modal{
    width: 20%;
    height: 20%;
    z-index: 11;
    background-color: white;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dcm_btn_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.dcm_bb_btn{
    padding: .4em .8em;
    border-radius: .4em;
}
.dcm_bb_btn:hover{
    cursor: pointer;
    background-color: rgba(80, 80, 80, 1);
    color: white;
}
.cancel{
    color: red;
}
.cancel:hover{
    color: white;
    background-color: red !important;
}
/* 편지를 보내는 모달 */
.letter_modal_wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
.lm_header_container{
    width: 86.12%;
    height: 7%;
    background-color: rgba(176, 170, 109, 0.8);
    border-radius: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0E6;
    margin-bottom: 10px;
    font-size: 18px;
}
.whole_letter_icon{
    position: absolute;
    left: 2%;
    top: 4%;
    padding: 10px 15px;
    font-size: 23px;
}
.whole_letter_icon:hover{
    cursor: pointer;
}
.new_letter_icon{
    position: absolute;
    padding: 10px 15px;
    top: 3%;
    left: 94.5%;
    color: #FEAA4B;
    border-radius: .4em;
    font-size: 23px;
}

.new_letter_icon:hover{
    background-color: #FEAA4B;
    color: aliceblue;
    cursor: pointer;
}
.new_letter_icon:hover + div{
    display: none;
}
.lm_bubble{
    position: absolute;
    top: 9%;
    left: 85%;
    background: #FEAA4B;
    border-radius: .4em;
    padding: 10px;
}
.lm_bubble::after{
    content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-bottom-color: #FEAA4B;
	border-top: 0;
	border-left: 0;
	margin-left: -8.5px;
	margin-top: -17px;
}
.letter_modal{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 80%;
    height: 80%;
    background-color: #E2CA9B;
    flex-direction: column;
    padding: 10px 0;
    border-radius: .4em;
    z-index: 10;
}

.lm_body{
    width: 80%;
    height: 80%;
    background-color: #F0F0E6;
    border-radius: .4em;
    padding: 0 3%;
    font-size: 18px;
}

.lm_b_paging_box{
    margin-top: 10px;
    display: flex;
    font-size: 23px;
}
.lm_b_pb_page_num{
    margin: 0 5px;
}
.lm_b_pb_page_others{
    text-decoration: none;
    color: rgba(176, 170, 109, 0.8);
    
}
.letter_container{
    margin-left: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter_body{
    width: 60%;
    max-width: 800px;
    position: relative;
}
.letter_body::-webkit-scrollbar{
    display: none;
}

.letter_content{
    padding: 20px 40px;
}
.lb_letter_img{
    background-image: url("/images/Group 55.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 62%;
    position: relative;
}
.lb_center_btn{
    width: 13%;
    max-width: 100px;
    height: 18%;
    position: absolute;
    border-radius: 100%;
    top: 48%;
    left: 44.5%;
}
.lb_center_btn:hover{
    cursor: pointer;
}
.lb_center_btn_comment{
    position: absolute;
    font-size: 18px;
    top: 45%;
    left: 48%;
}
.lb_under_username{
    z-index: 6;
}
.lm_b_pb_white_space{
    width: 100px;
}
.lm_b_pb_next_more{
    color: rgba(80, 80, 80, 1);
    font-size: 14px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lm_b_under{
    width: 80%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}
/* 리뷰 모달 부분 */
.lm_b_review_btn{
    position: absolute;
    left: 90%;
    top: 25%;
    font-size: 20px;
    width: 20%;
}
.lm_b_review_btn:hover{
    cursor: pointer;
}
.lm_review_modal_wrapper{
    position: relative;
}
.lm_review_modal{
	position: absolute;
	background: rgba(176, 170, 109, 0.8);
	border-radius: .4em;
    left: 50.5%;
    top: 50%;
    width: 45%;
    height: 35%;
    padding: 1em;
    display: none;
    flex-direction: column;
}

.lm_review_modal:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 70%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: rgba(176, 170, 109, 0.8);
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.lm_rm_mongle_grade{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.lm_rm_content{
    background-color: white;
    height: 75%;
    border-radius: .4em;
    padding: 1em;
}
.lm_rm_textarea{
    background-color: white;
    height: 75%;
    border-radius: .4em;
    padding: 1em;
    border: none;
    outline: none;
}

.lm_rm_btn_box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}
.lm_rm_bb_white_space{
    width: 4em;
}
.lm_rm_mongle{
    background-image: url('/images/mongle.png');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 3px;
}
.lm_rm_mongle_edit{
    background-image: url('/images/mongle.png');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 3px;
}
.lm_rm_mongle_edit:hover{
    cursor: pointer;
}
.mongle_color_filter{
    filter:grayscale(1)
}
.lm_rm_mg_box{
    display: flex;
}
.lm_rm_btn{
    cursor: pointer;
    color:white;
    padding: 5px 15px;
    border-radius: .4em;
}
.lm_rm_btn:hover{
    cursor: pointer;
    color:rgba(176, 170, 109, 0.8);
    background-color: white;
}

@media (max-width: 950px) {

    body{
        background: #F0F0E6
    }
    .letter_container{
        margin-left: 0;
    }
    .nc_sub_container{
        background-color: #F0F0E6;
        justify-content: space-between;
        align-items: baseline !important;
    }
    .drawer_wrapper{
        width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    }
    #drawer{
        background: rgb(235 233 215 / 100%);
        display: none;
    }
    .open_drawer{
        display: block!important;
        margin: 40px 0 0 40px;
    }
    .letter_modal{
        width: 100% !important;
    }
    .nc_sb_nav{
        margin-top: 0 !important;
        margin-right: 40px !important;
    }
    .nc_mongle, .nc_profile{
        
        width: 70px !important;
        height: 70px !important;
    }

}

@media (max-width: 450px) {
    *{
        font-size: 14px !important;
    }
    .open_drawer{
        font-size: 18px !important;
        margin: 20px 0 0 20px !important;
    }
    .letter_body{
        top: -60px;   
    }
    .nav_container{
        height: 40px !important;
    }
    .nc_sub_container{
        height: 40px !important;

    }
    .nc_sb_nav{
        margin-right: 10px !important;
        margin-top: 0 !important;
    }
    .nc_mongle, .nc_profile{
        
        width: 40px !important;
        height: 40px !important;
    }
    .lb_center_btn_comment {
        font-size: 13px !important;
        top: 39% !important;
        left: 45% !important;
    }
    .letter_modal{
        height: 70% !important;
    }
    .lm_review_modal{
    width: 85% !important;
    height: 50% !important;
    left: 20% !important;
    top: 33% !important;
    padding: .3em !important;
}
.lm_rm_btn{
    padding: 0 !important;
    border-radius: 0 !important;
}
.lm_b_review_btn{
    width: 30% !important;
}
.lm_rm_mongle{
    width: 30px !important;
    height: 30px !important;
}
.lm_rm_mongle_edit{
    width: 30px !important;
    height: 30px !important;
}
#drawer{
    min-width: 0 !important;
    width: 45% !important;
}
.d_white_space{
    margin-top: -60px;
}
    }
