@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Square+Peg&display=swap');


* {
    font-family: 'Gamja Flower', cursive;
}
body {
    margin: 0;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    background-color: #F0F0E6;
    width: 54%;
    max-width: 60rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mc_mongle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8rem;
}

.mc_mongle_logo{
    font-size: 3.4rem;
    color:#FEAA4B;
    font-weight: bold;
    font-family: 'Square Peg', cursive;
}

.mc_mongle_char{
    background-image: url("/images/mongle_with_letter.png");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-top: .7em;
    margin-left: 5px;
}


.mc_box{
    background-color: #E2CA9B;
    width: 54%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.login{
    height: 40vh;
}

.mb_title{
    color: #F0F0E6;
    font-size: 2rem;
    margin-bottom: 20px;
}

.mb_sub{
    width: 72.5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px
}
.form-control{
    background-color: #F0F0E6;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 1vw;
}

input::placeholder{
    font-size: 1rem;
    text-align: center;
    color:rgba(80, 80, 80, 1);
}


.mb_sub_6{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.btn{
    background-color: #9D9D58;
    color: #F0F0E6;
    display: inline;
    height: 3vh;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    white-space : nowrap;
}


.mb_page_link{
    color: rgb(63, 63, 63);
    margin-top: 20px;
    font-size: 1rem;
}

.mb_page_link_new_password{
    color: rgb(63, 63, 63);
    margin-top: 1vh;
    font-size: 1rem;
}
#Certification_Answer{
    font-size: 0.8vw;
    color: gray;
}

@media (max-width: 950px){
    .main_container{
        background-color: #F0F0E6;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mc_box{
        background-color: #E2CA9B;
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .mc_mongle_logo{
        font-size: 3rem;
        color:#FEAA4B;
        font-weight: bold;
        font-family: 'Square Peg', cursive;
    }


    .mc_mongle_char{
        background-image: url("/images/mongle_with_letter.png");
        background-size: cover;
        background-position: center;
        width: 50px;
        height: 50px;
        margin-top: .7em;
    }

    .mb_page_link{
        color: rgb(63, 63, 63);
        margin-top: 20px;
        font-size: 0.9rem;
    }

}

@media (max-width: 450px){
    .main_container{
        background-color: #F0F0E6;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mc_box{
        background-color: #E2CA9B;
        width: 85%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .mb_title{
        color: #F0F0E6;
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    input::placeholder{
        font-size: 0.9rem;
        text-align: center;
        color: black;
    }

    .btn{
        background-color: #9D9D58;
        color: #F0F0E6;
        display: inline;
        height: 4vh;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
        white-space : nowrap;
    }

    .mb_page_link{
        color: rgb(63, 63, 63);
        margin-top: 20px;
        font-size: 0.8rem;
    }

}

@media (max-height: 530px){
    .mb_title{
        color: #F0F0E6;
        font-size: 1.3rem;
        margin-bottom: 3px;
    }

    .mb_sub{
        width: 72.5%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7px
    }

    .btn{
        background-color: #9D9D58;
        color: #F0F0E6;
        display: inline;
        height: 4vh;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.7rem;
        white-space : nowrap;
        margin-top: 3px;
    }

    .mb_page_link{
        color: rgb(63, 63, 63);
        margin-top: 10px;
        font-size: 0.8rem;
    }


}